---
http_interactions:
- request:
    method: get
    uri: "<URL_INSEE_METADATA_URL>/geo/communes?com=false&date=2000-01-01&filtreNom=Gennevilliers"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"code":"92036","uri":"http://id.insee.fr/geo/commune/4d55e21e-aae2-4d7c-8544-b5eb5165a920","type":"Commune","dateCreation":"1968-01-01","intituleSansArticle":"Gennevilliers","typeArticle":"0","intitule":"Gennevilliers"}]'
  recorded_at: Mon, 11 Mar 2024 17:03:33 GMT
recorded_with: VCR 6.2.0
