<html>
  <body>
    <p>Vous êtes <a href="<%= location %>">redirigé</a>.</p>
    <p>Le siren/siret demandé est un doublon et ne doit plus être utilisé.</p>
    <p>Référez-vous à notre <a href="https://doc.entreprise.api.gouv.fr/#entreprises-et-tablissements-redirig-s">documentation</a> pour plus de détails</p>
  </body>
</html>
