---
openapi: 3.0.1
info:
  title: API Entreprise
  version: 3.0.0
  description: "Cette page contient la documentation technique pour accéder à API
    Entreprise. Les API étant accessible uniquement sous habilitation, l'interaction
    avec l'environnement de production n'est possible que si vous êtes **en possession
    d'une clé d'accès (jeton).\n\n### Comment tester l'API ?\n\nIl est possible de
    tester les API via notre environnement de **staging** qui vous retournera systématiquement
    des données fictives. Référez vous à la [documentation](https://entreprise.api.gouv.fr/developpeurs#tester-api-preproduction).\n\nIl
    est nécessaire d'utiliser un jeton de staging. Plus d'infos ici: https://github.com/etalab/siade_staging_data/tree/develop/tokens\n
    \     "
  termsOfService: https://entreprise.api.gouv.fr/cgu/
  contact:
    name: Support API Entreprise
    email: support@entreprise.api.gouv.fr
    url: https://entreprise.api.gouv.fr/
tags:
- name: Informations générales
- name: Informations financières
- name: Attestations sociales et fiscales
- name: Certifications professionnelles
- name: Propriété intellectuelle
paths: {}
servers:
- url: https://entreprise.api.gouv.fr
  description: Environnement de production
- url: https://staging.entreprise.api.gouv.fr
  description: Environnement de staging
components:
  schemas:
    Error:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              title:
                type: string
              detail:
                type: string
              code:
                type: string
            required:
            - title
            - detail
            - code
      required:
      - errors
  securitySchemes:
    jwt_bearer_token:
      type: http
      description: |-
        Votre jeton d'authentification doit être placé dans le header 'Authorization: Bearer VOTRE_JWT', sa validité est de 18 mois.

            Exemple cURL :

                curl -X GET \
                -H "Authorization: Bearer $token" \
                --url "https://entreprise.api.gouv.fr/v3/..."
      name: Authorization
      in: header
      scheme: bearer
      bearerFormat: JWT
