openapi: 3.0.0
info:
  title: "API Entreprise"
  version: "v2"
  description: |
    Bienvenue sur le swagger du hub API Entreprise.

    ## À quoi sert cette page ?
       Cette page est un environnement de production documenté, propulsé par Open API (Swagger), mettant à disposition la spécification technique de tous les endpoints disponibles sur API Entreprise. Ce swagger permet d'effectuer directement depuis votre navigateur des tests de l'API.
       Pour une documentation complète incluant également des informations métiers, veuillez vous référez au [catalogue des données d'API Entreprise] (https://entreprise.api.gouv.fr/catalogue/)


    ## À qui s&apos;adresse-t&apos;elle ?
       Ce swagger s'adresse en priorité aux **équipes techniques**, développeurs et développeuses.

      L&apos;API Entreprise étant accessible uniquement sous habilitation, l&apos;interaction avec l'environnement de production n&apos;est possible que si vous êtes **en possession d&apos;une clé d&apos;accès (token).**


servers:
  - url: "https://entreprise.api.gouv.fr"
    description: "Environnement de production"
  - url: "https://staging.entreprise.api.gouv.fr"
    description: "Environnement de staging"


tags:
  - name: &tag_general "Informations générales"
  - name: &tag_financier "Informations financières"
  - name: &tag_attestations "Attestations sociales et fiscales"
  - name: &tag_certificats_professionelles "Certifications professionelles"
  - name: &tag_propriete_intellectuelle "Propriétés intellectuelle"
  - name: &tag_api_complementaires "API Complémentaires"


paths:

## &tag_general

  /v2/entreprises/{siren}:
    get:
      tags:
        - *tag_general
      summary: "[INSEE] Données de référence d'une entreprise"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-entreprises'>Documentation métier</a>"
      parameters:
        - $ref: '#/components/parameters/Siren'
        - $ref: '#/components/parameters/NotDiffusable'
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Recipient'
        - $ref: '#/components/parameters/Object'
      responses:
        '200':
          description: 'OK'
          content:
            application/json: {}
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'

  /v2/etablissements/{siret}:
    get:
      tags:
        - *tag_general
      summary: "[INSEE] Données de référence d'un établissement"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-etablissements'>Documentation métier</a>"
      parameters:
        - $ref: '#/components/parameters/Siret'
        - $ref: '#/components/parameters/NotDiffusable'
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Recipient'
        - $ref: '#/components/parameters/Object'
      responses: *default_responses

  /v2/extraits_rcs_infogreffe/{siren}:
    get:
      tags:
        - *tag_general
      summary: "[INFOGREFFE] Extrait RCS"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-extrait_rcs_infogreffe'>Documentation métier</a>"
      parameters: &only_siren_parameters
        - $ref: '#/components/parameters/Siren'
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Recipient'
        - $ref: '#/components/parameters/Object'
      responses: 
          '200':
            description: 'OK'
            content:
              application/json:
                schema:
                  properties:
                    siren:
                      type: 'string'
                      description: "Siren de l'entreprise"
                      example: '301123626'
                    date_immatriculation:
                      type: "string"
                      format: "date"
                      example: '1974-10-07'
                      description: "Il s'agit du jour d'immatriculation de l'entreprise au RCS. À compter de cette date, les sociétés jouissent de la personnalité morale. Cette date d'immatriculation n'est pas la même que celle délivrée par l'INSEE. Elle ne correspond pas non plus à la date du début d'activité."
                    date_immatriculation_timestamp:
                      type: "integer"
                      example: '150332400'
                      description: "Date d'immatriculation au format timestamp UNIX"
                    date_extrait:
                      type: "string"
                      example: "26 OCTOBRE 2021"
                      description: "Date de mise à jour de l'extrait RCS"
                    observations:
                      type: array
                      description: "Ce champ délivre tous les messages laissés par le greffier inscrits dans les observations."
                      items:
                        type: object
                        properties:
                          date:
                            type: "string"
                            format: "date"
                            example: "1991-01-11"
                            description: "Date de l'observation"
                          date_timestamp:
                            type: "integer"
                            example: '663548400'
                            description: "Date de l'observation au format timestamp UNIX"
                          numero:
                            type: "string"
                            example: "2000"
                            description: "Numéro de l'observation"
                          libelle:
                          type: "string"
                          example: "CONTENU DE L'OBSERVATION NUMÉRO 2000"
                          description: "Contenu de l'obersation"
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'

  /v2/entreprises_artisanales_cma/{siren}:
    get:
      tags:
        - *tag_general
      summary: "[RNM CMA] Données de référence d'une entreprise enregistrée au registre des artisans"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-entreprises_artisanales'>Documentation métier</a>"
      parameters: *only_siren_parameters
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                properties:
                  entreprise:
                    type: 'object'
                    properties:
                      siren:
                        type: 'string'
                        description: "Siren de l'entreprise"
                        example: '301123626'
                      denomination_sociale:
                        maxLength: 120
                        minLength: 0
                        example: 'DUPOND Jean'
                        type: "string"
                        description: "Il s'agit du nom porté par la société. Dans le cadre de la création d'une entreprise individuelle (EI, EIRL, ou micro-entreprise), la dénomination sociale se confond avec la raison sociale et correspond au nom de famille du créateur d'entreprise, qui peut s'accompagner de son prénom"
                        nullable: true
                      sigle:
                        maxLength: 20
                        minLength: 0
                        type: "string"
                        description: "Forme réduite de la dénomination ou raison sociale de la personne morale ou de l'organisme public. Souvent les initiales."
                        nullable: true
                        example: 'MSN'
                      categorie_personne:
                        type: 'string'
                        example: 'PP'
                        description: "Indique s'il s'agit d'une personne physique \"PP\" ou d'une personne morale \"PM\""
                        enum:
                          - 'PP'
                          - 'PM'
                      forme_juridique_id:
                        maxLength: 4
                        minLength: 0
                        type: "string"
                        description: "Code de la catégorie juridique, issu d'une nomenclature de l'INSEE et servant aux Centres de Formalités des Entreprises (CFE) pour recueillir les déclarations des entreprises. La nomenclature est disponible ici : https://www.insee.fr/fr/information/2028129"
                        nullable: true
                        example: '5499'
                      forme_juridique_label:
                        maxLength: 255
                        minLength: 1
                        type: "string"
                        description: "Intitulé correspondant au code de la catégorie juridique"
                        example: 'Société à responsabilité limitée (sans autre indication)'
                      effectif_salarie:
                        type: "integer"
                        format: "int64"
                        description: "Nombre de salarié dans l'entreprise"
                        example: '12'
                      effectif_apprenti:
                        type: "integer"
                        format: "int64"
                        description: "Nombre d'apprentis dans l'entreprise"
                        example: '1'
                      etablissement_origine_id:
                        type: 'string'
                        example: '3'
                        description: "Indique l'origine du fond ou l'origine de l'activité, telle que déclarée par la personne morale ou physique au moment de la création de l'entreprise artisanale. Elle est donc tirée des formulaires P0 ou M0, disponibles à la lecture ici : https://www.cfe-metiers.com/HTM/cosa.aspx
                        \n
                        \n
                        Les valeurs possibles sont :
                        \n
                        * 1 => Création
                        \n
                        * 3 => Achat
                        \n
                        * 4 => Apport
                        \n
                        * 6 => Prise en location gérance
                        \n
                        * 7 => Partage
                        \n
                        * 8 => Reprise
                        \n
                        * F => Gérance - mandat"
                        enum:
                          - '1'
                          - '3'
                          - '4'
                          - '6'
                          - '7'
                          - '8'
                          - 'F'
                      modalite_exercice:
                        type: 'string'
                        example: 'P'
                        description: "Détermine si l'entreprise a une activité permanente ou saisonnière.
                      \n
                      L'activité est dite saisonnière si chaque année, l'entreprise cesse totalement ses activités pendant plus de 3 mois consécutifs.
                      \n
                      \n
                      Les valeurs possibles sont:
                      \n
                      - P => Permanent
                      \n
                      - S => Saisonnière
                      \n
                      - NR => Non renseignée"
                        enum:
                          - 'P'
                          - 'S'
                          - 'NR'
                      non_sedentaire:
                        type: 'integer'
                        format: 'int64'
                        example: '0'
                        description: "Indique si l'entreprise a une activité ambulante.
                        \n
                        \n
                        Les valeurs possibles sont:
                        \n
                        - 0 => sédentaire
                        \n
                        - 1 => non-sédentaire"
                        enum:
                        - '0'
                        - '1'
                      code_cfe:
                        maxLength: 50
                        minLength: 1
                        type: "string"
                        example: 'M7501'
                        description: "L'indentifiant communiqué désigne le Centre de Formalités des Entreprises (CFE) qui a inscrit l'entreprise."
                      declaration_procedures:
                        maxLength: 3000
                        minLength: 0
                        type: "string"
                        description: "Cette clé regroupe les déclarations de cessation des paiements, des procédures de règlement judiciaire et liquidations des biens ; des procédures tendant à faciliter le redressement économique et financier ; des procédures de sauvegarde, de redressement judiciaire ou de liquidation judiciaire.
                        \n
                        \n
                            Plus d'infos disponible dans le catalogue de données API Entreprise : https://entreprise.api.gouv.fr/catalogue/#a-entreprises_artisanales_cma"
                        nullable: true
                        example: "30.09.1994 Ouverture de procedure normale de redressement;15.10.1994 Prolongation periode d'observation;11.11.1994 Prolongation periode d'observation;18.01.1995 Prolongation periode d'observation;20.03.1995 Prolongation periode d'observation;10.05.1995 Prolongation periode d'observation;14.07.1995 Prolongation periode d'observation;19.09.1995 Arret du plan de continuation;09.04.2000 Modification des organes de la procedure;28.05.2002 Modification des organes de la procedure"
                      activite_artisanales_declarees:
                        type: 'string'
                        example: "PRESTATION DE SERVICE COMMERCE"
                        description: "Indique l'activité pour laquelle l'entreprise a demandé son inscription au répertoire des métiers. La valeur est reprise à l'identique de la liasse déclarative et est purement déclarative (variable E71 selon la norme d'échange)."
                      code_norme_activite_entreprises:
                        maxLength: 5
                        minLength: 0
                        type: "string"
                        description: "Ce code correspond au code APE de l'entreprise, issu de la nomenclature des activités françaises de l'INSEE (NAF). Il définit l'activité principale de l'entreprise. Il est parfois également nommé code NAF."
                        example: '9602A'

                      code_nafa_principal:
                        maxLength: 6
                        minLength: 6
                        type: "string"
                        example: "9602AA"
                        description: "Code issu de la Nomenclature des Activités Françaises de l'Artisanat (NAFA Rèv2) pour l'activité principale au registre des métiers. La liste de ces codes est explorable sur le site de CMA France au lien suivant: http://nafa.apcma.fr/jlbweb/jlbWeb?html=NAFA/accueil
                      \n
                      \n
                        Plus d'infos disponible dans le catalogue de données API Entreprise : https://entreprise.api.gouv.fr/catalogue/#a-entreprises_artisanales_cma"
                      code_nafa_libelle:
                        maxLength: 120
                        minLength: 0
                        type: "string"
                        description: "Libellé du code NAFA."
                        example: 'Coiffure en salon'
                      code_nafa_secondaire1: &code_nafa_secondaire
                        maxLength: 6
                        type: "string"
                        example: ''
                        description: "Les entreprises artisanales peuvent avoir plusieurs activités d'artisanat. Ce code se réfère à la même nomenclature (NAFA Rèv2) que le code_nafa_principal."
                        nullable: true
                      code_nafa_secondaire2: *code_nafa_secondaire
                      code_nafa_secondaire3: *code_nafa_secondaire
                      secteur_activite_intitule_nar_4:
                        maxLength: 120
                        minLength: 0
                        type: "string"
                        description: "Indique le secteur d'activité de l'entreprise selon le code Nomenclature Artisanale Regroupée NAR 4.
                          \n
                          \n
                          Les variables possibles sont :
                          \n
                          - ALIMENTATION
                          \n
                          - BATIMENT
                          \n
                          - PRODUCTION
                          \n
                          - SERVICES
                          \n
                          \n
                            Plus d'infos disponible dans le catalogue de données API Entreprise : https://entreprise.api.gouv.fr/catalogue/#a-entreprises_artisanales_cma"
                        enum:
                          - 'ALIMENTATION'
                          - 'BATIMENT'
                          - 'PRODUCTION'
                          - 'SERVICES'
                        example: "SERVICES"
                      secteur_activite_intitule_nar_20:
                        maxLength: 120
                        minLength: 0
                        type: "string"
                        description: "Indique le secteur d'activité de l'entreprise selon le code Nomenclature Artisanale Regroupée NAR 20. La liste des code et leur libellé est disponible ici : https://entreprise.api.gouv.fr/assets/pdf/liste-nar.pdf"
                        example: "TRANSPORT"
                      dirigeant_qualification:
                        maxLength: 30
                        minLength: 0
                        type: "string"
                        description: "Indique la qualification artisanale de l'entrepreneur.
                          \n
                          \n
                          Les variables possibles sont :
                          \n
                          - ARTISAN
                          \n
                          - MAITRE ARTISAN
                          \n
                          - ARTISAN D'ART
                          \n
                          - ARTISAN MAITRE => Spécifique à l'Alsace et la Moselle.
                          \n
                          - ARTISAN MAITRE METIERS D'ART => Spécifique à l'Alsace et la Moselle.
                          - SANS QUALIFICATION
                          \n
                          \n
                          \n
                            Plus d'infos disponible dans le catalogue de données API Entreprise : https://entreprise.api.gouv.fr/catalogue/#a-entreprises_artisanales_cma"
                        example: 'ARTISAN'
                        enum:
                          - "ARTISAN"
                          - "MAITRE ARTISAN"
                          - "ARTISAN D'ART"
                          - "MAITRE ARTISAN D'ART"
                          - "ARTISAN MAITRE"
                          - "ARTISAN MAITRE METIERS D'ART"
                          - "SANS QUALIFICATION"
                      dirigeant_nom_de_naissance:
                        maxLength: 100
                        minLength: 0
                        type: "string"
                        description: "Nom dévolu à la personne le jour de la déclaration de sa naissance.
                        \n
                        \n
                          Plus d'infos disponible dans le catalogue de données API Entreprise : https://entreprise.api.gouv.fr/catalogue/#a-entreprises_artisanales_cma"
                        example: 'DUPONT'
                      dirigeant_nom_usage:
                        maxLength: 100
                        minLength: 0
                        type: "string"
                        description: "Nom choisi par la personne dont la forme est encadrée (voir bloc question/réponse dans cette documentation).
                        \n
                        \n
                          Plus d'infos disponible dans le catalogue de données API Entreprise : https://entreprise.api.gouv.fr/catalogue/#a-entreprises_artisanales_cma"
                        example: 'DUTUNNEL'
                      dirigeant_prenom1: &dirigeant_prenom
                        maxLength: 20
                        minLength: 0
                        type: "string"
                        description: "Le ou les prénoms figurant au registre de l'état civil."
                        example: 'Jean'
                      dirigeant_prenom2: *dirigeant_prenom
                      dirigeant_prenom3: *dirigeant_prenom
                      dirigeant_pseudonyme:
                        maxLength: 20
                        minLength: 0
                        type: "string"
                        description: "Nom utilisé par le dirigeant pour se désigner dans l'exercice de son activité, généralement littéraire ou artistique.
                        \n
                        \n
                          Plus d'infos disponible dans le catalogue de données API Entreprise : https://entreprise.api.gouv.fr/catalogue/#a-entreprises_artisanales_cma"
                        example: 'Jean'
                      dirigeant_date_de_naissance:
                        type: "string"
                        description: "Date de naissance de la personne physique."
                        format: "date"
                        example: '1950-01-01'
                      dirigeant_lieu_de_naissance:
                        maxLength: 35
                        minLength: 0
                        type: "string"
                        description: "Libellé en clair de la commune/pays de naissance."
                        example: 'PARIS'
                      date_immatriculation:
                        type: "string"
                        format: "date-time"
                        example: '1964-06-03T12:00:00Z'
                        description: "Date d'immatriculation au Répertoire des Métiers."
                      date_radiation:
                        type: "string"
                        format: "date-time"
                        example: '1969-02-03T12:00:00Z'
                        description: "Date de radiation du Répertoire des Métiers. Cette date est soit déclarative soit d'office."
                      date_debut_activite:
                        type: "string"
                        format: "date-time"
                        example: '1969-02-03T12:00:00Z'
                        description: "Date de début d'activité déclarée par le dirigeant lors de son immatriculation."
                      date_cessation_activite:
                        type: "string"
                        format: "date-time"
                        example: '1968-02-01T12:00:00Z'
                        description: "Date de cessation d'activité de la personne morale hors dissolution, appelée aussi mise en sommeil."
                      date_cloture_liquidation:
                        type: "string"
                        format: "date-time"
                        example: '1979-04-03T12:00:00Z'
                        description: "Date de clôture de la liquidation déclarée lors de la dissolution de la personne morale."
                      date_transfert_patrimoine:
                        type: "string"
                        format: "date-time"
                        example: '1965-02-04T12:00:00Z'
                        description: "Date de transfert de patrimoine à l'associé unique restant. Cette dissolution de la personne morale résulte du rassemblement de toutes les parts en une seule main."
                      date_dissolution:
                        type: "string"
                        format: "date-time"
                        example: '1989-02-03T12:00:00Z'
                        description: "Date de dissolution de la personne morale."
                      adresse_numero_voie:
                        type: "integer"
                        description: "Numéro dans la voie de l'entreprise"
                        format: "int64"
                        example: '1'
                      adresse_indice_repetition_voie:
                        maxLength: 1
                        minLength: 1
                        type: "string"
                        description: "Indique si le numéro de voie est complété par un indicateur de répétition.
                        \n
                        \n
                        Les variables possibles sont :
                        \n
                        - B => Bis
                        \n
                        - T => Ter
                        \n
                        - Q => Quater
                        \n
                        - C => Quinquies
                        \n"
                        enum:
                          - 'B'
                          - 'T'
                          - 'Q'
                          - 'C'
                        example: 'B'
                      adresse_type_voie:
                        maxLength: 4
                        minLength: 0
                        type: "string"
                        description: "Type de voie de l'entreprise.
                        \n
                        \n
                        Plus d'infos: https://www.sirene.fr/sirene/public/variable/typvoie"
                        example: 'RUE'
                      adresse_libelle_voie:
                        maxLength: 32
                        minLength: 1
                        type: "string"
                        description: "Libellé de voie ou lieu-dit de l'entreprise"
                        example: 'DE BELLEVILLE'
                      adresse_complement:
                        maxLength: 38
                        minLength: 0
                        type: "string"
                        description: "Complément d'adresse de l'entreprise"
                        example: 'Batiment C'
                      adresse_code_postal:
                        maxLength: 9
                        minLength: 9
                        type: "string"
                        description: "Code postal de l'entreprise"
                        example: '75010'
                      adresse_commune:
                        maxLength: 32
                        minLength: 1
                        type: "string"
                        description: "Libellé de localité de l'entreprise"
                        example: 'PARIS'
                      adresse_commune_cog:
                        maxLength: 5
                        minLength: 5
                        type: "string"
                        description: "Identifiant de localisation COG ( Code Officiel Géographique ) de l'entreprise.
                        \n
                        \n
                        Plus d'infos: https://www.insee.fr/fr/information/3720946"
                        example: '75119'
                      adresse_departement:
                        maxLength: 50
                        minLength: 1
                        type: "string"
                        description: "Département de l'entreprise."
                        example: 'PARIS'
                      adresse_region:
                        maxLength: 50
                        minLength: 1
                        type: "string"
                        description: "Région de l'entreprise."
                        example: 'ILE-DE-FRANCE'
                      libelle_epci:
                        maxLength: 255
                        minLength: 1
                        type: "string"
                        description: "Libellé de l'Établissement Public de Coopération Intercommunale correspondant au code officiel géographique de l'entreprise."
                        example: 'Métropole du Grand Paris'
                      # FIXME pas présent dans les payloads, à creuser
                      eirl_id_registre:
                        maxLength: 1
                        type: "string"
                        description: "En cas de double immatriculation, cette clé indique le choix du registre où est déposée la déclaration d'affectation de patrimoine.
                          \n
                          \n
                        Deux valeurs possibles:
                          \n
                          * 1 => RCS pour le Registre du Commerce et des Sociétés.
                          \n
                          * 2 => RM pour le Répertoire des Métiers
                        "
                        example: '1'
                      eirl_denomination:
                        maxLength: 120
                        minLength: 0
                        type: "string"
                        description: "Dénomination de l'EIRL en cas de double immatriculation. Elle incorpore le nom de l'entrepreneur précédé ou suivi immédiatement des mots : « Entrepreneur Individuel à Responsabilité Limitée » ou des initiales : « EIRL »."
                        example: "UMAD Corp EIRL"
                      eirl_objet_activite:
                        maxLength: 420
                        minLength: 0
                        type: "string"
                        description: "Objet de l'activité professionnelle à laquelle le patrimoine est affecté en cas de double immatriculation."
                        nullable: true
                        example: "REPARATION ET VENTE DE MATERIELS INFORMATIQUES FORMATION AUDIT ET ASSISTANCE INFORMATIQUE"
                      eirl_date_depot:
                        type: "string"
                        description: "Date d'effet du dépôt de la déclaration d'affectation de patrimoine, en cas de double immatriculation."
                        format: "date-time"
                        nullable: true
                        example: '1989-02-03T12:00:00Z'
                      rnm_id:
                        type: "integer"
                        description: "Identifiant interne à l'API RNM de l'entreprise"
                        format: "int64"
                        example: 123456
                      rnm_numero_gestion:
                        maxLength: 11
                        type: "string"
                        description: "Numéro de gestion interne à l'API RNM. Celui-ci se décompose en trois parties, les trois premiers caractères donnent le code du département ; les deux caractères suivants donnent l'année à laquelle le numéro a été attribué ; et les six derniers sont dédiés au numéro incrémenté."
                        example: "00012211035"
                      rnm_date_import:
                        type: 'string'
                        format: 'date-time'
                        description: "Il s'agit de la date de l'import des données de l'entreprise dans la base de données de l'API RNM."
                        example: "2019-11-02T09:09:25Z"
                      rnm_date_mise_a_jour:
                        type: 'string'
                        format: 'date-time'
                        description: "Il s'agit de la date de mise à jour des données transmises. Elle indique donc l'état de fraicheur de chacune des clés de la réponse JSON. La fraicheur des clés effectifs est à prendre avec plus de vigileance
                            \n
                            \n
                            Plus d'infos disponible dans le catalogue de données API Entreprise : https://entreprise.api.gouv.fr/catalogue/#a-entreprises_artisanales_cma"
                        example: "2019-12-02T09:09:25Z"
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'

  /v2/associations/{association_id}:
    get:
      tags:
        - *tag_general
      summary: "[RNA] Informations déclaratives d'une association"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-associations'>Documentation métier</a>"
      parameters: &association_parameters
        - $ref: '#/components/parameters/AssociationId'
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Recipient'
        - $ref: '#/components/parameters/Object'
      responses: *default_responses

  /v2/documents_associations/{association_id}:
    get:
      tags:
        - *tag_general
      summary: "[RNA] Divers documents d'une association"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-documents_associations'>Documentation métier</a>"
      parameters: *association_parameters
      responses: *default_responses

  /v2/actes_inpi/{siren}:
    get:
      tags:
        - *tag_general
      summary: "[INPI] Actes"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-actes_inpi'>Documentation métier</a>"
      parameters: *only_siren_parameters
      responses: *default_responses

  /v2/conventions_collectives/{siret}:
    get:
      tags:
        - *tag_general
      summary: "[Fabrique numérique des ministères sociaux] Conventions collectives d'une entreprise"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-conventions_collectives'>Documentation métier</a>"
      parameters:
        - $ref: '#/components/parameters/Siret'
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Recipient'
        - $ref: '#/components/parameters/Object'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                type: object
                properties:
                  siret:
                    type: string
                  conventions:
                    type: array
                    items:
                      type: object
                      properties:
                        active:
                          type: boolean
                          example: true
                        date_publication:
                          type: string
                          example: '1988-01-01T00:00:00.000Z'
                        etat:
                          type: string
                          example: 'VIGUEUR_ETEN'
                        numero:
                          type: integer
                          example: 1486
                        titre_court:
                          type: string
                          example: "Bureaux d'études techniques, cabinets d'ingénieurs-conseils et sociétés de conseils"
                        titre:
                          type: string
                          example: "Convention collective nationale des bureaux d'études techniques, des cabinets d'ingénieurs-conseils et des sociétés de conseils du 15 décembre 1987."
                        url:
                          type: string
                          example: "https://www.legifrance.gouv.fr/affichIDCC.do?idConvention=KALICONT000005635173"
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'

  /v2/effectifs_annuels_acoss_covid/{siren}:
    get:
      tags:
        - *tag_general
      summary: "Effectifs mensuel moyen d'une entreprise sur l'année précédente"
      description: "Renvoie l'effectif moyen de l'entreprise sur l'année précédente"
      parameters: *only_siren_parameters
      responses: *default_responses

  /v2/effectifs_mensuels_acoss_covid/{annee}/{mois}/entreprise/{siren}:
    get:
      tags:
        - *tag_general
      summary: "Effectifs mensuel moyen d'une entreprise sur un mois et année donnée"
      description: "Renvoie l'effectif moyen de l'entreprise sur un mois donnée. L'année est forcément 2020."
      parameters:
        - $ref: '#/components/parameters/Siren'
        - $ref: '#/components/parameters/Year'
        - $ref: '#/components/parameters/Month'
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Recipient'
        - $ref: '#/components/parameters/Object'
      responses: *default_responses

  /v2/effectifs_mensuels_acoss_covid/{annee}/{mois}/etablissement/{siret}:
    get:
      tags:
        - *tag_general
      summary: "Effectifs mensuel moyen d'un établissement sur un mois et année donnée"
      description: "Renvoie l'effectif moyen de l'établissement sur un mois donnée. L'année est forcément 2020."
      parameters:
        - $ref: '#/components/parameters/Siret'
        - $ref: '#/components/parameters/Year'
        - $ref: '#/components/parameters/Month'
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Recipient'
        - $ref: '#/components/parameters/Object'
      responses: *default_responses

## &tag_financier

  /v2/exercices/{siret}:
    get:
      tags:
        - *tag_financier
      summary: "[DGFIP] Chiffres d'affaires"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-exercices'>Documentation métier</a>"
      parameters: &only_siret_parameters
        - $ref: '#/components/parameters/Siret'
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Recipient'
        - $ref: '#/components/parameters/Object'
      responses: *default_responses

  /v2/bilans_inpi/{siren}:
    get:
      tags:
        - *tag_financier
      summary: "[INPI] Bilan annuels"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-bilans_inpi'>Documentation métier</a>"
      parameters: *only_siren_parameters
      responses: *default_responses

  /v2/bilans_entreprises_bdf/{siren}:
    get:
      tags:
        - *tag_financier
      summary: "[BDF] 3 derniers bilans annuels"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-bilans_inpi'>Documentation métier</a>"
      parameters: *only_siren_parameters
      responses: *default_responses

  /v2/liasses_fiscales_dgfip/{annee}/declarations/{siren}:
    get:
      tags:
        - *tag_financier
      summary: "[DGFIP] Déclarations de résultat : liasses fiscales d'une entreprise pour une année donnée"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-liasses_fiscales_dgfip'>Documentation métier</a>"
      parameters: &siren_year_and_email_parameters
        - $ref: '#/components/parameters/Siren'
        - $ref: '#/components/parameters/Year'
        - $ref: '#/components/parameters/Email'
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Recipient'
        - $ref: '#/components/parameters/Object'
      responses: *default_responses

  /v2/liasses_fiscales_dgfip/{annee}/dictionnaire:
    get:
      tags:
        - *tag_financier
      summary: "[DGFIP] Déclarations de résultat : dictionnaire des liasses fiscales pour une année donnée"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-liasses_fiscales_dgfip'>Documentation métier</a>"
      parameters:
        - $ref: '#/components/parameters/Year'
        - $ref: '#/components/parameters/Email'
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Recipient'
        - $ref: '#/components/parameters/Object'
      responses: *default_responses

  /v2/liasses_fiscales_dgfip/{annee}/complete/{siren}:
    get:
      tags:
        - *tag_financier
      summary: "[DGFIP] Déclarations de résultat : liasses fiscales d'une entreprise et dictionnaire pour une année donnée"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-liasses_fiscales_dgfip'>Documentation métier</a>"
      parameters: *siren_year_and_email_parameters
      responses: *default_responses

## &tag_attestations

  /v2/attestations_fiscales_dgfip/{siren}:
    get:
      tags:
        - *tag_attestations
      summary: "[DGFIP] Attestation fiscale"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-attestations_fiscales_dgfip'>Documentation métier</a>"
      parameters:
        - $ref: '#/components/parameters/Siren'
        - in: query
          name: siren_is
          description: "Si l'entreprise appartient à un groupe IS: renseignez avec le siren de cette entreprise"
          schema:
            type: string
          allowEmptyValue: true
        - in: query
          name: siren_tva
          description: "Si l'entreprise appartient à un groupe TVA: renseignez avec le siren de cette entreprise"
          schema:
            type: string
          allowEmptyValue: true
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Recipient'
        - $ref: '#/components/parameters/Object'
      responses: *default_responses

  /v2/attestations_sociales_acoss/{siren}:
    get:
      tags:
        - *tag_attestations
      summary: "[ACOSS] Attestation de vigilance"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-attestations_sociales_acoss'>Documentation métier</a>"
      parameters: *only_siren_parameters
      responses: *default_responses

  /v2/attestations_agefiph/{siret}:
    get:
      tags:
        - *tag_attestations
      summary: "[AGEFIPH] Conformité emploi des travailleurs handicapés"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-attestations_agefiph'>Documentation métier</a>"
      parameters: *only_siret_parameters
      responses: *default_responses

  /v2/cotisations_msa/{siret}:
    get:
      tags:
        - *tag_attestations
      summary: "[MSA] Cotisations de sécurité sociale agricole"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-cotisations_msa'>Documentation métier</a>"
      parameters: *only_siret_parameters
      responses: *default_responses

  /v2/eligibilites_cotisation_retraite_probtp/{siret}:
    get:
      tags:
        - *tag_attestations
      summary: "[PROBTP] Cotisations retraite bâtiment : savoir si un établissement est à jour dans ses cotisations"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-attestations_cotisation_retraite_probtp'>Documentation métier</a>"
      parameters: *only_siret_parameters
      responses: *default_responses

  /v2/attestations_cotisation_retraite_probtp/{siret}:
    get:
      tags:
        - *tag_attestations
      summary: "[PROBTP] Cotisations retraite bâtiment : attestation d'un établissement"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-attestations_cotisation_retraite_probtp'>Documentation métier</a>"
      parameters: *only_siret_parameters
      responses: *default_responses

  /v2/cartes_professionnelles_fntp/{siren}:
    get:
      tags:
        - *tag_attestations
      summary: "[FNTP] Carte professionnelle travaux publics"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-cartes_professionnelles_fntp'>Documentation métier</a>"
      parameters: *only_siren_parameters
      responses: *default_responses

  /v2/certificats_cnetp/{siren}:
    get:
      tags:
        - *tag_attestations
      summary: "[CNETP] Cotisations congés payés & chômage intempéries"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-certificats_cnetp'>Documentation métier</a>"
      parameters: *only_siren_parameters
      responses: *default_responses

# &tag_certificats_professionelles

  /v2/certificats_rge_ademe/{siret}:
    get:
      tags:
        - *tag_certificats_professionelles
      summary: "[ADEME] Certification RGE"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-certificats_rge_ademe'>Documentation métier</a>"
      parameters:
        - $ref: '#/components/parameters/Siret'
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Recipient'
        - $ref: '#/components/parameters/Object'
        - in: query
          name: skip_pdf
          required: false
          description: "Permet d'exclure la génération des fichiers PDFs (ce qui accélère le temps de réponse)"
          schema:
            type: boolean
          example: true

      responses: *default_responses

  /v2/certificats_agence_bio/{siret}:
    get:
      tags:
        - *tag_certificats_professionelles
      summary: "[API BIO] Certification Biologique"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-certificats_agence_bio'>Documentation métier</a>"
      parameters:
        - $ref: '#/components/parameters/Siret'
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Recipient'
        - $ref: '#/components/parameters/Object'
      responses: *default_responses

  /v2/certificats_qualibat/{siret}:
    get:
      tags:
        - *tag_certificats_professionelles
      summary: "[QUALIBAT] Certificat de qualification bâtiment"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-certificats_qualibat'>Documentation métier</a>"
      parameters: *only_siret_parameters
      responses: *default_responses

  /v2/certificats_opqibi/{siren}:
    get:
      tags:
        - *tag_certificats_professionelles
      summary: "[OPQIBI] Certification de qualification d'ingénierie"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-certificats_opqibi'>Documentation métier</a>"
      parameters: *only_siren_parameters
      responses: *default_responses

# &tag_propriete_intellectuelle

  /v2/extraits_courts_inpi/{siren}:
    get:
      tags:
        - *tag_propriete_intellectuelle
      summary: "[INPI] Brevets, modèles et marques déposés"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-extraits_courts_inpi'>Documentation métier</a>"
      parameters: *only_siren_parameters
      responses: *default_responses

# &tag_api_complementaires

  /v2/privileges/:
    get:
      tags:
        - *tag_api_complementaires
      summary: "[API Entreprise] Connaître les droits liés à un token"
      description: "<a href='https://entreprise.api.gouv.fr/doc/#api-privileges'>Documentation générale</a>"
      responses: &default_responses
        '200':
          description: OK
          content:
            application/json: {}

  /watchdoge/dashboard/current_status/:
    get:
      tags:
        - *tag_api_complementaires
      summary: "[API Entreprise] Connaître la disponibilité des API en temps réel"
      description: "Cette API est ouverte et ne nécessite pas de token. <a href='https://entreprise.api.gouv.fr/doc/#api-current-status'>Documentation générale</a>"
      responses: *default_responses

  /watchdoge/stats/provider_availabilities/:
    get:
      tags:
        - *tag_api_complementaires
      summary: "[API Entreprise] Connaître l'historique de disponibilité des API"
      description: "Cette API est ouverte et ne nécessite pas de token. <a href='https://entreprise.api.gouv.fr/doc/#api-disponibilites'>Documentation générale</a>"
      parameters:
        - in: query
          name: period
          required: true
          description: "L'intervale de temps sur lequel renvoyer la disponibilité"
          schema:
            type: string
          example: '15m'
        - in: query
          name: endpoint
          required: true
          description: "API pour laquelle la disponibilité est demandée"
          schema:
            type: string
          example: 'api/v3/entreprises_restored'
      responses: *default_responses

  /v2/eori_douanes/{siret_or_eori}:
    get:
      tags:
        - *tag_general
      summary: "[Douanes] Import/export en Union Européenne: savoir si une entreprise possède un numéro EORI actif"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#eori_douanes'>Documentation métier</a>"
      parameters:
        - $ref: '#/components/parameters/SiretOrEORI'
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Recipient'
        - $ref: '#/components/parameters/Object'
      responses:
       '200':
          description: 'OK'
          content:
            application/json:
              schema:
                type: object
                properties:
                    actif:
                        description: Ce champ permet de savoir si le numéro EORI est encore actif ou non.
                        example: true
                        type: boolean
                    code_pays:
                        description: Code pays sur 2 caractères
                        example: FR
                        type: string
                    code_postal:
                        description: Code postal
                        example: '95520'
                        type: string
                    numero_eori:
                        description: Numéro EORI
                        example: FR16002307300010
                        type: string
                    raison_sociale:
                        description: Raison sociale
                        example: CENTRE INFORMATIQUE DOUANIER
                        type: string
                    pays:
                        description: Pays (en majuscule)
                        example: FRANCE
                        type: string
                    rue:
                        description: Numéro et rue
                        example: 27 R DES BEAUX SOLEILS
                        type: string
                    ville:
                        description: Ville
                        example: OSNY
                        type: string

components:
  parameters:
    Context:
      in: query
      name: context
      required: true
      description: "Le cadre dans lequel l'appel est réalisé"
      schema:
        type: string
      example: "Test de l'API"

    Recipient:
      in: query
      name: recipient
      required: true
      schema:
        type: string
      description: "Bénéficiaire de l'appel"
      example: "SIRET du bénéficiaire de l'appel"

    Object:
      in: query
      name: object
      required: true
      schema:
        type: string
      description: "Pourquoi l'appel est réalisé ou identifiant de dossier ou procédure"
      example: "Test API"

    Siren:
      in: path
      name: siren
      description: "Siren de l'entreprise"
      required: true
      schema:
        type: string
        pattern: '^\d{9}$'

    Siret:
      in: path
      name: siret
      description: "Siret de l'établissement"
      required: true
      schema:
        type: string
        pattern: '^\d{14}$'

    AssociationId:
      in: path
      name: association_id
      description: "Siret de l'association ou le numéro RNA"
      required: true
      schema:
        type: string

    SiretOrEORI:
      in: path
      name: siret_or_eori
      description: "Siret ou numéro EORI de l'entreprise"
      required: true
      schema:
        type: string
      examples:
        french_siret:
          value: '16002307300010'
          summary: 'Siret français'
        french_eori:
          value: 'FR16002307300010'
          summary: 'Numéro EORI français'
        spanish_eori:
          value: 'ESA08536583'
          summary: 'Numéro EORI espagnol'

    NotDiffusable:
      in: query
      name: non_diffusables
      description: "Inclure les entreprises non diffusables"
      schema:
        type: boolean
        default: false
      required: false
      allowEmptyValue: true

    Month:
      in: path
      name: mois
      description: "Mois (MM)"
      schema:
        type: string
        pattern: '^\d{2}$'
      required: true

    Year:
      in: path
      name: annee
      description: "Année (YYYY)"
      schema:
        type: string
        pattern: '^\d{4}$'
      required: true

    Email:
      in: query
      name: email
      description: "Email de l'utilisateur faisant la demande"
      schema:
        type: string
      required: false
      allowEmptyValue: true

  responses:
    Incomplete:
      description: "Réponse incomplete - Un des fournisseurs de données a renvoyé une erreur, la réponse est incomplète (les valeurs concernées contiennent le message par défaut: Donnée indisponible)"
      content:
        application/json: {}

    BadRequest:
      description: "Mauvaise requête"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            - code: '400'
            - message: "Le format de la requête est incorrecte"

    Unauthorized:
      description: "Non authorisé"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            - code: '401'
            - message: "Token invalide ou manquant"

    Forbidden:
      description: "Interdit"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            - code: '403'
            - message: "Votre jeton ne vous donne pas accès à cette ressource"

    NotFound:
      description: "Non trouvé"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            - code: '404'
            - message: "La ressource demandée n'a pas été trouvée"

    UnprocessableEntity:
      description: "Entité non traitable"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            - code: '422'
            - message: "Le format de la donnée passée en paramètre n'est pas accepté"

    LegalyUnavailable:
      description: "Indisponible pour des raisons légales"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            - code: '451'
            - message: "Une entreprise est non diffusée par l'INSEE"

    InternalError:
      description: "Erreur interne"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            - code: '500'
            - message: "Une erreur interne est survenue"

    BadGateway:
      description: "Passerelle incorrecte"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            - code: '502'
            - message: "Mauvaise réponse envoyée par le fournisseur de données"

    ServiceUnvailable:
      description: "Service non disponible"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            - code: '503'
            - message: "Service temporairement indisponible ou en maintenance"

    ProviderTimeout:
      description: "Intermédiaire hors délai"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            - code: '504'
            - message: "Le(s) producteur(s) de données ont mis trop de temps à répondre, nous limitons notre temps d'attente de leur retour à 10 secondes."

  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
  securitySchemes:
    jwt_bearer_token:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Token d'authentification JWT"
security:
  - jwt_bearer_token: []
