openapi: 3.0.0
info:
  title: "API Entreprise"
  version: "v2"
  description: |
    Bienvenue sur le Swagger du hub API Entreprise.

    ## À quoi sert cette page ?
       Cette page est un environnement de production et de staging (test) documenté, propulsé par Open API (Swagger), mettant à disposition la spécification technique de toutes les API disponibles sur API Entreprise. Ce swagger permet d'effectuer directement depuis votre navigateur des tests de l'API.
       Pour une documentation complète incluant également des informations métiers, veuillez vous référez au [catalogue des données d'API Entreprise] (https://entreprise.api.gouv.fr/catalogue/)


    ## À qui s&apos;adresse-t&apos;elle ?
       Ce swagger s'adresse en priorité aux **équipes techniques**, développeurs et développeuses.

      L&apos;API Entreprise étant accessible uniquement sous habilitation, l&apos;interaction avec l'environnement de production n&apos;est possible que si vous êtes **en possession d&apos;une clé d&apos;accès (token).**


    ### Comment tester l'API ?

      Il est cependant possible de tester les API via notre environnement de **staging** (https://staging.entreprise.api.gouv.fr) qui vous retournera systématiquement des données fictives.

      Il est nécessaire d'utiliser le jeton de staging indiqué ci-dessous.

      ---

      *eyJhbGciOiJIUzI1NiJ9.eyJ1aWQiOiIzMGU2ODQ1OC0wMjlhLTQ2YTAtYWJiMi03ZTA4ZGVlMDAxM2UiLCJqdGkiOiIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiLCJyb2xlcyI6WyJjZXJ0aWZpY2F0X3JnZV9hZGVtZSIsIm1zYV9jb3Rpc2F0aW9ucyIsImVudHJlcHJpc2UiLCJleHRyYWl0X3JjcyIsImNlcnRpZmljYXRfb3BxaWJpIiwiYXNzb2NpYXRpb25zIiwiZXRhYmxpc3NlbWVudCIsImV0YWJsaXNzZW1lbnRzIiwiZm50cF9jYXJ0ZV9wcm8iLCJxdWFsaWJhdCIsImVudHJlcHJpc2VfYXJ0aXNhbmFsZSIsImNlcnRpZmljYXRfY25ldHAiLCJlb3JpX2RvdWFuZXMiLCJwcm9idHAiLCJhY3Rlc19pbnBpIiwiZXh0cmFpdF9jb3VydF9pbnBpIiwiYXR0ZXN0YXRpb25zX3NvY2lhbGVzIiwibGlhc3NlX2Zpc2NhbGUiLCJhdHRlc3RhdGlvbnNfZmlzY2FsZXMiLCJleGVyY2ljZXMiLCJjb252ZW50aW9uc19jb2xsZWN0aXZlcyIsInVwdGltZSIsImJpbGFuc19pbnBpIiwiZG9jdW1lbnRzX2Fzc29jaWF0aW9uIiwiYWlkZXNfY292aWRfZWZmZWN0aWZzIiwiY2VydGlmaWNhdF9hZ2VuY2VfYmlvIiwiZW50cmVwcmlzZXMiLCJiaWxhbnNfZW50cmVwcmlzZV9iZGYiLCJwcml2aWxlZ2VzIiwiYXR0ZXN0YXRpb25zX2FnZWZpcGgiLCJleHRyYWl0c19yY3MiLCJlbnRyZXByaXNlc19hcnRpc2FuYWxlcyJdLCJzdWIiOiJzdGFnaW5nIGRldmVsb3BtZW50IiwiaWF0IjoxNjU2NTkzNjYxLCJ2ZXJzaW9uIjoiMS4wIiwiZXhwIjoxNjU5MTg1NjYxfQ.wO55RVpIxYLKCH9EMXKoG3fkHfVQivGOExHs93xF-eE*

servers:
  - url: "https://entreprise.api.gouv.fr"
    description: "Environnement de production"
  - url: "https://staging.entreprise.api.gouv.fr"
    description: "Environnement de staging"


tags:
  - name: &tag_general "Informations générales"
  - name: &tag_financier "Informations financières"
  - name: &tag_attestations "Attestations sociales et fiscales"
  - name: &tag_certificats_professionelles "Certifications professionelles"
  - name: &tag_propriete_intellectuelle "Propriétés intellectuelle"
  - name: &tag_api_complementaires "API Complémentaires"


paths:

## &tag_general

  /v2/entreprises/{siren}:
    get:
      tags:
        - *tag_general
      summary: "[INSEE] Données de référence d'une entreprise"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-entreprises'>Documentation métier</a>"
      parameters:
        - $ref: '#/components/parameters/Siren'
        - $ref: '#/components/parameters/NotDiffusable'
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Recipient'
        - $ref: '#/components/parameters/Object'
      responses:
        '200':
          x-operationId: 'api_entreprise_v2_entreprises_restored'
          description: 'OK'
          content:
            application/json:
              schema:
                type: object
                properties:
                  entreprise:
                    type: "object"
                    description: "Données générales"
                    properties:
                      capital_social:
                        type: "integer"
                        description: "Capital sociale de l'entreprise - source Infogreffe"
                        example: 10000
                      categorie_entreprise:
                        type: 'string'
                        description: "Trois modalités possibles : 'PME', petite ou moyenne entreprise, dont les micros entreprises ; 'ETI' entreprise de taille intermédiaire ; ou 'GE', grande entreprise. Cette variable est calculée par l'INSEE, selon la méthode explicitée à l'adresse https://www.insee.fr/fr/information/1730869"
                        example: "PME"
                      code_effectif_entreprise:
                        type: "string"
                        description: "Le code effectif correspond à une fourchette de nombre de salariés, celle-ci est indiquée un peu plus loin au champ 'tranche_effectif_salarie_entreprise'. Ce code respecte la nomenclature de l'INSEE disponible à cette adresse : http://www.sirene.fr/sirene/public/variable/tefen"
                        example: "31"
                      date_creation:
                        type: "integer"
                        description: "Date au format timestamp UNIX."
                        example: 1558303200
                      date_radiation:
                        type: "integer"
                        description: "Indique null si l’entreprise n’est pas radiée du registre. Dans le cas contraire, la date est fournie au format timestamp UNIX 000000000"
                        example: "null"
                      enseigne:
                        description: "Enseigne de l'entreprise - source Infogreffe"
                        example: "JK AC"
                        type: "string"
                      etat_administratif:
                        type: "object"
                        description: "L’état administratif est l’état juridique de l’entreprise (source INSEE)"
                        properties:
                          date_cessation:
                            type: "integer"
                            description: "Indique 'null' quand l'entreprise est jurdiquement active. Quand 'value = C', un timestamp (un entier) est renvoyé"
                            example: "null"
                          value:
                            type: "string"
                            description: "Indique si l'entreprise est juridiquement active, par 'A'. Ou si elle est jurdiquement cessée, par 'C'. Dans certains cas exceptionnels, l'état peut être 'null'. Par exemple, lorsqu'une entité vient de créer son SIREN, mais qu'elle n'a pas encore débuté son activité"
                            example: "A"
                      forme_juridique:
                        description: "Issus de la nomenclature des catégories juridiques de l’INSEE"
                        example: "Société à responsabilité limitée (sans autre indication)"
                        type: "string"
                      forme_juridique_code:
                        description: "Issus de la nomenclature des catégories juridiques de l’INSEE. Pour les personnes physique, cette variable est à 1000."
                        example: "5499"
                        type: "string"
                      libelle_naf_entreprise:
                        description: "Issu de la nomenclature d’activités française de l’INSEE."
                        example: "Conseil pour les affaires et autres conseils de gestion"
                        type: "string"
                      mandataires_sociaux:
                        type: "array"
                        description: "Il y a deux types de mandataires sociaux, les personnes physiques et les personnes morales"
                        items:
                          type: object
                          properties:
                            date_naissance:
                              description: "ce champ concerne les personnes physiques"
                              example: '1958-03-25'
                              type: "string"
                              format: "date"
                            date_naissance_timestamp:
                              description: "ce champ concerne les personnes physiques (au format UNIX)"
                              example: 371523600
                              type: "integer"
                            dirigeant:
                              description: "Toujours 'true'"
                              example: true
                              type: boolean
                            fonction:
                              description: "Fonction du dirigeant"
                              example: "GERANT"
                              type: "string"
                            identifiant:
                              description: "Cet élément de 7 à 9 chiffres est facultatif et peut être vide"
                              example: "490092574"
                              type: "string"
                            nom:
                              description: "ce champ concerne les personnes physiques"
                              example: JAKUBOWSKI
                              type: "string"
                            prenom:
                              description: "ce champ concerne les personnes physiques"
                              example: BRIGITTE, MYRIAM
                              type: "string"
                            raison_sociale:
                              description: "ce champ concerne les personnes morales"
                              example: null
                              type: "string"
                            type:
                              description: "PM pour les personnes morales et PP pour les personnes physiques"
                              example: PP
                              type: "string"
                      naf_entreprise:
                        description: "Issu de la nomenclature d’activités française de l’INSEE"
                        example: 7022Z
                        type: "string"
                      nom:
                        description: "Ce champ concerne les personnes physiques"
                        example: null
                        type: "string"
                      nom_commercial:
                        description: "Ce champ concerne les personnes morales (source Infogreffe)"
                        example: ""
                        type: "string"
                      numero_tva_intracommunautaire:
                        description: "Également appelé numéro d’identification fiscale NIF. Ce numéro est calculé par API Entreprise selon la règle officielle, cette donnée est donc théorique. Dans le cas où l’établissement siège est à l’étranger, la valeur renvoit 'null'. En effet, dans ce cas le numéro de TVA est problablement calculé par le pays où se situe l'établissement siège et non par la France. La seule source fiable est alors l'entreprise elle-même"
                        example: FR89851265074
                        type: "string"
                      prenom:
                        description: "Ce champ concerne les personnes physiques"
                        example: null
                        type: "string"
                      procedure_collective:
                        description: "Toujours indiqué comme 'false', et à ignorer. Ce champ sera bientôt supprimé"
                        example: false
                        type: boolean
                      raison_sociale:
                        description: "raison sociale de l'entreprise"
                        example: JK ASSOCIATES CONSULTING
                        type: "string"
                      siren:
                        description: "siren de l'entreprise"
                        example: '851265074'
                        type: "string"
                      siret_siege_social:
                        description: "siret du siège sociale de l'entreprise"
                        example: '85126507400019'
                        type: "string"
                      tranche_effectif_salarie_entreprise:
                        description: "Les champs suivants indiquent en détail l'effectif de salariés de l'entreprise"
                        type: 'object'
                        properties:
                          a:
                            example: "249"
                            type: "string"
                          code:
                            example: "31"
                            type: "string"
                          date_reference:
                            example: "2014"
                            type: "string"
                          de:
                            example: "200"
                            type: "string"
                          intitule:
                            example: "200 à 249 salariés"
                            type: "string"
                  etablissement_siege:
                    type: object
                    properties:
                      adresse:
                        description: "Depuis 2018, l'INSEE ne fournit plus d'adresse au format RNVP, nous opérons donc une reconstruction de l'adresse à partir des champs disponibles dans leur nouvelle API ; cette reconstruction n'est en aucun cas un traitement RNVP : Des différences minimes résultant de l'arrêt du RNVP peuvent être constatées"
                        properties:
                          cedex:
                            example: null
                            type: "string"
                          code_insee_localite:
                            example: "75108"
                            type: "string"
                          code_postal:
                            example: "75008"
                            type: "string"
                          complement_adresse:
                            example: null
                            type: "string"
                          l1:
                            description: "Raison sociale, ou civilité + prénom + nom"
                            example: JK ASSOCIATES CONSULTING
                            type: "string"
                          l2:
                            description: "Raisons sociales usuelles"
                            example: null
                            type: "string"
                          l3:
                            description: "Complément d'adresse"
                            example: null
                            type: "string"
                          l4:
                            description: "Numéro de voie +  indice de répétition + type de voie + libellé voie"
                            example: "57 RUE D'AMSTERDAM"
                            type: "string"
                          l5:
                            description: "Distribution spéciale"
                            example: null
                            type: "string"
                          l6:
                            description: "Code cedex + code cedex ou code postal + libellé commune ou libellé commune à l'étranger."
                            example: "75008 PARIS 8"
                            type: "string"
                          l7:
                            description: "Pays"
                            example: FRANCE
                            type: "string"
                          localite:
                            example: "PARIS 8"
                            type: "string"
                          nom_voie:
                            example: "D'AMSTERDAM"
                            type: "string"
                          numero_voie:
                            example: "57"
                            type: "string"
                          type_voie:
                            example: RUE
                            type: "string"
                        type: object
                      commune_implantation:
                        type: object
                        properties:
                          code:
                            example: '75108'
                            type: "string"
                          value:
                            example: "Paris 8e Arrondissement"
                            type: "string"
                      date_creation_etablissement:
                        description: "Format timestamp UNIX"
                        example: 1558303200
                        type: integer
                      date_mise_a_jour:
                        description: "Format timestamp UNIX"
                        example: 1560929613
                        type: integer
                      diffusable_commercialement:
                        description: "true si l'entreprise a demandé à être non diffusable (autoentrepreneur)"
                        example: true
                        type: boolean
                      enseigne:
                        description: "Enseigne commerciale (source Infogreffe)"
                        example: null
                        type: "string"
                      etat_administratif:
                        type: object
                        description: Lors de son inscription au répertoire, un établissement est, sauf exception, à l’état ouvert. Le passage à l’état fermé découle de la prise en compte d’une déclaration de fermeture.
                        properties:
                          date_fermeture:
                            description:  Indique "null" quand le champ précédent est "A" (actif), et renvoit un entier au format timestamp si le champ précédent est "F"
                            example: 1315173600
                            type: 'integer'
                          value:
                            description: Lorsqu'un établissement est ouvert, la valeur indiquée est "A" (actif). S'il est fermé, l'endpoint renverra "F"(fermé)
                            example: F
                            type: "string"
                      libelle_naf:
                        description: Issu de la nomenclature d’activités française de l’INSEE
                        example: Conseil pour les affaires et autres conseils de gestion
                        type: "string"
                      naf:
                        description: Issu de la nomenclature d’activités française de l’INSEE
                        example: 7022Z
                        type: "string"
                      pays_implantation:
                        type: object
                        properties:
                          code:
                            example: FR
                            type: "string"
                          value:
                            example: FRANCE
                            type: "string"
                      region_implantation:
                        type: object
                        properties:
                          code:
                            example: '11'
                            type: "string"
                          value:
                            example: Île-de-France
                            type: "string"
                      siege_social:
                        description: Indique si l'établissement est le siège social (toujours à true par définition)
                        example: true
                        type: boolean
                      siret:
                        example: '85126507400019'
                        type: "string"
                      tranche_effectif_salarie_etablissement:
                        description: "Les champs suivants indiquent en détail l'effectif de salariés de l'entreprise"
                        properties:
                          a:
                            example: "249"
                            type: "string"
                          code:
                            example: "31"
                            type: "string"
                          date_reference:
                            example: "2014"
                            type: "string"
                          de:
                            example: "200"
                            type: "string"
                          intitule:
                            example: "200 à 249 salariés"
                            type: "string"
                        type: object
                  gateway_error:
                    description: "Indique si un des deux fournisseurs de données n'a pas fonctionné : INSEE ou Infogreffe."
                    example: false
                    type: boolean
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'

  /v2/etablissements/{siret}:
    get:
      tags:
        - *tag_general
      summary: "[INSEE] Données de référence d'un établissement"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-etablissements'>Documentation métier</a>"
      parameters:
        - $ref: '#/components/parameters/Siret'
        - $ref: '#/components/parameters/NotDiffusable'
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Recipient'
        - $ref: '#/components/parameters/Object'
      responses:
        '200':
          x-operationId: 'api_entreprise_v2_etablissements_restored'
          description: 'OK'
          content:
            application/json:
              schema:
                properties:
                  etablissement:
                    type: object
                    properties:
                      adresse:
                        description: "Depuis 2018, l'INSEE ne fournit plus d'adresse au format RNVP, nous opérons donc une reconstruction de l'adresse à partir des champs disponibles dans leur nouvelle API ; cette reconstruction n'est en aucun cas un traitement RNVP : Des différences minimes résultant de l'arrêt du RNVP peuvent être constatées"
                        properties:
                          cedex:
                            example: null
                            type: "string"
                          code_insee_localite:
                            example: "75108"
                            type: "string"
                          code_postal:
                            example: "75008"
                            type: "string"
                          complement_adresse:
                            example: null
                            type: "string"
                          l1:
                            description: "Raison sociale, ou civilité + prénom + nom"
                            example: JK ASSOCIATES CONSULTING
                            type: "string"
                          l2:
                            description: "Raisons sociales usuelles"
                            example: null
                            type: "string"
                          l3:
                            description: "Complément d'adresse"
                            example: null
                            type: "string"
                          l4:
                            description: "Numéro de voie +  indice de répétition + type de voie + libellé voie"
                            example: "57 RUE D'AMSTERDAM"
                            type: "string"
                          l5:
                            description: "Distribution spéciale"
                            example: null
                            type: "string"
                          l6:
                            description: "Code cedex + code cedex ou code postal + libellé commune ou libellé commune à l'étranger."
                            example: "75008 PARIS 8"
                            type: "string"
                          l7:
                            description: "Pays"
                            example: FRANCE
                            type: "string"
                          localite:
                            example: "PARIS 8"
                            type: "string"
                          nom_voie:
                            example: "D'AMSTERDAM"
                            type: "string"
                          numero_voie:
                            example: "57"
                            type: "string"
                          type_voie:
                            example: RUE
                            type: "string"
                        type: object
                      commune_implantation:
                        type: object
                        properties:
                          code:
                            example: '75108'
                            type: "string"
                          value:
                            example: "Paris 8e Arrondissement"
                            type: "string"
                      date_creation_etablissement:
                        description: "Format timestamp UNIX"
                        example: 1558303200
                        type: integer
                      date_mise_a_jour:
                        description: "Format timestamp UNIX"
                        example: 1560929613
                        type: integer
                      diffusable_commercialement:
                        description: "true si l'entreprise a demandé à être non diffusable (autoentrepreneur)"
                        example: true
                        type: boolean
                      enseigne:
                        description: "Enseigne commerciale (source Infogreffe)"
                        example: null
                        type: "string"
                      etat_administratif:
                        type: object
                        description: Lors de son inscription au répertoire, un établissement est, sauf exception, à l’état ouvert. Le passage à l’état fermé découle de la prise en compte d’une déclaration de fermeture.
                        properties:
                          date_fermeture:
                            description:  Indique "null" quand le champ précédent est "A" (actif), et renvoit un entier au format timestamp si le champ précédent est "F"
                            example: 1315173600
                            type: 'integer'
                          value:
                            description: Lorsqu'un établissement est ouvert, la valeur indiquée est "A" (actif). S'il est fermé, l'endpoint renverra "F"(fermé)
                            example: F
                            type: "string"
                      libelle_naf:
                        description: Issu de la nomenclature d’activités française de l’INSEE
                        example: Conseil pour les affaires et autres conseils de gestion
                        type: "string"
                      naf:
                        description: Issu de la nomenclature d’activités française de l’INSEE
                        example: 7022Z
                        type: "string"
                      pays_implantation:
                        type: object
                        properties:
                          code:
                            example: FR
                            type: "string"
                          value:
                            example: FRANCE
                            type: "string"
                      region_implantation:
                        type: object
                        properties:
                          code:
                            example: '11'
                            type: "string"
                          value:
                            example: Île-de-France
                            type: "string"
                      siege_social:
                        description: Indique si l'établissement est le siège social (toujours à true par définition)
                        example: true
                        type: boolean
                      siret:
                        example: '85126507400019'
                        type: "string"
                      tranche_effectif_salarie_etablissement:
                        description: "Les champs suivants indiquent en détail l'effectif de salariés de l'entreprise"
                        properties:
                          a:
                            example: "249"
                            type: "string"
                          code:
                            example: "31"
                            type: "string"
                          date_reference:
                            example: "2014"
                            type: "string"
                          de:
                            example: "200"
                            type: "string"
                          intitule:
                            example: "200 à 249 salariés"
                            type: "string"
                        type: object
                  gateway_error:
                    description: An explanation about the purpose of this instance.
                    example: false
                    type: boolean
                type: object
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'

  /v2/extraits_rcs_infogreffe/{siren}:
    get:
      tags:
        - *tag_general
      summary: "[INFOGREFFE] Extrait RCS"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-extrait_rcs_infogreffe'>Documentation métier</a>"
      parameters: &only_siren_parameters
        - $ref: '#/components/parameters/Siren'
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Recipient'
        - $ref: '#/components/parameters/Object'
      responses:
        '200':
          x-operationId: 'api_entreprise_v2_extraits_rcs_infogreffe'
          description: 'OK'
          content:
            application/json:
              schema:
                type: 'object'
                properties:
                  siren:
                    type: 'string'
                    description: "Siren de l'entreprise"
                    example: '301123626'
                  date_immatriculation:
                    type: "string"
                    format: "date"
                    example: '1974-10-07'
                    description: "Il s'agit du jour d'immatriculation de l'entreprise au RCS. À compter de cette date, les sociétés jouissent de la personnalité morale. Cette date d'immatriculation n'est pas la même que celle délivrée par l'INSEE. Elle ne correspond pas non plus à la date du début d'activité."
                  date_immatriculation_timestamp:
                    type: "integer"
                    example: 150332400
                    description: "Date d'immatriculation au format timestamp UNIX"
                  date_extrait:
                    type: "string"
                    example: "26 OCTOBRE 2021"
                    description: "Date de mise à jour de l'extrait RCS"
                  observations:
                    type: array
                    description: "Ce champ délivre tous les messages laissés par le greffier inscrits dans les observations."
                    items:
                      type: object
                      properties:
                        date:
                          type: "string"
                          format: "date"
                          example: "1991-01-11"
                          description: "Date de l'observation"
                        date_timestamp:
                          type: "integer"
                          example: 663548400
                          description: "Date de l'observation au format timestamp UNIX"
                        numero:
                          type: "string"
                          example: "2000"
                          description: "Numéro de l'observation"
                        libelle:
                          type: "string"
                          example: "CONTENU DE L'OBSERVATION NUMÉRO 2000"
                          description: "Contenu de l'obersation"
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'

  /v2/entreprises_artisanales_cma/{siren}:
    get:
      tags:
        - *tag_general
      summary: "[RNM CMA] Données de référence d'une entreprise enregistrée au registre des artisans"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-entreprises_artisanales'>Documentation métier</a>"
      parameters: *only_siren_parameters
      responses:
        '200':
          x-operationId: 'api_entreprise_v2_entreprises_artisanales'
          description: 'OK'
          content:
            application/json:
              schema:
                type: 'object'
                properties:
                  entreprise:
                    type: 'object'
                    properties:
                      siren:
                        type: 'string'
                        description: "Siren de l'entreprise"
                        example: '301123626'
                      denomination_sociale:
                        maxLength: 120
                        minLength: 0
                        example: 'DUPOND Jean'
                        type: "string"
                        description: "Il s'agit du nom porté par la société. Dans le cadre de la création d'une entreprise individuelle (EI, EIRL, ou micro-entreprise), la dénomination sociale se confond avec la raison sociale et correspond au nom de famille du créateur d'entreprise, qui peut s'accompagner de son prénom"
                        nullable: true
                      sigle:
                        maxLength: 20
                        minLength: 0
                        type: "string"
                        description: "Forme réduite de la dénomination ou raison sociale de la personne morale ou de l'organisme public. Souvent les initiales."
                        nullable: true
                        example: 'MSN'
                      categorie_personne:
                        type: 'string'
                        example: 'PP'
                        description: "Indique s'il s'agit d'une personne physique \"PP\" ou d'une personne morale \"PM\""
                        enum:
                          - 'PP'
                          - 'PM'
                      forme_juridique_id:
                        maxLength: 4
                        minLength: 0
                        type: "string"
                        description: "Code de la catégorie juridique, issu d'une nomenclature de l'INSEE et servant aux Centres de Formalités des Entreprises (CFE) pour recueillir les déclarations des entreprises. La nomenclature est disponible ici : https://www.insee.fr/fr/information/2028129"
                        nullable: true
                        example: '5499'
                      forme_juridique_label:
                        maxLength: 255
                        minLength: 1
                        type: "string"
                        description: "Intitulé correspondant au code de la catégorie juridique"
                        example: 'Société à responsabilité limitée (sans autre indication)'
                      effectif_salarie:
                        type: "integer"
                        format: "int64"
                        description: "Nombre de salarié dans l'entreprise"
                        example: '12'
                      effectif_apprenti:
                        type: "integer"
                        format: "int64"
                        description: "Nombre d'apprentis dans l'entreprise"
                        example: '1'
                      etablissement_origine_id:
                        type: 'string'
                        example: '3'
                        description: "Indique l'origine du fond ou l'origine de l'activité, telle que déclarée par la personne morale ou physique au moment de la création de l'entreprise artisanale. Elle est donc tirée des formulaires P0 ou M0, disponibles à la lecture ici : https://www.cfe-metiers.com/HTM/cosa.aspx
                        \n
                        \n
                        Les valeurs possibles sont :
                        \n
                        * 1 => Création
                        \n
                        * 3 => Achat
                        \n
                        * 4 => Apport
                        \n
                        * 6 => Prise en location gérance
                        \n
                        * 7 => Partage
                        \n
                        * 8 => Reprise
                        \n
                        * F => Gérance - mandat"
                        enum:
                          - '1'
                          - '3'
                          - '4'
                          - '6'
                          - '7'
                          - '8'
                          - 'F'
                      modalite_exercice:
                        type: 'string'
                        example: 'P'
                        description: "Détermine si l'entreprise a une activité permanente ou saisonnière.
                      \n
                      L'activité est dite saisonnière si chaque année, l'entreprise cesse totalement ses activités pendant plus de 3 mois consécutifs.
                      \n
                      \n
                      Les valeurs possibles sont:
                      \n
                      - P => Permanent
                      \n
                      - S => Saisonnière
                      \n
                      - NR => Non renseignée"
                        enum:
                          - 'P'
                          - 'S'
                          - 'NR'
                      non_sedentaire:
                        type: 'integer'
                        format: 'int64'
                        example: '0'
                        description: "Indique si l'entreprise a une activité ambulante.
                        \n
                        \n
                        Les valeurs possibles sont:
                        \n
                        - 0 => sédentaire
                        \n
                        - 1 => non-sédentaire"
                        enum:
                        - '0'
                        - '1'
                      code_cfe:
                        maxLength: 50
                        minLength: 1
                        type: "string"
                        example: 'M7501'
                        description: "L'indentifiant communiqué désigne le Centre de Formalités des Entreprises (CFE) qui a inscrit l'entreprise."
                      declaration_procedures:
                        maxLength: 3000
                        minLength: 0
                        type: "string"
                        description: "Cette clé regroupe les déclarations de cessation des paiements, des procédures de règlement judiciaire et liquidations des biens ; des procédures tendant à faciliter le redressement économique et financier ; des procédures de sauvegarde, de redressement judiciaire ou de liquidation judiciaire.
                        \n
                        \n
                            Plus d'infos disponible dans le catalogue de données API Entreprise : https://entreprise.api.gouv.fr/catalogue/#a-entreprises_artisanales_cma"
                        nullable: true
                        example: "30.09.1994 Ouverture de procedure normale de redressement;15.10.1994 Prolongation periode d'observation;11.11.1994 Prolongation periode d'observation;18.01.1995 Prolongation periode d'observation;20.03.1995 Prolongation periode d'observation;10.05.1995 Prolongation periode d'observation;14.07.1995 Prolongation periode d'observation;19.09.1995 Arret du plan de continuation;09.04.2000 Modification des organes de la procedure;28.05.2002 Modification des organes de la procedure"
                      activite_artisanales_declarees:
                        type: 'string'
                        example: "PRESTATION DE SERVICE COMMERCE"
                        description: "Indique l'activité pour laquelle l'entreprise a demandé son inscription au répertoire des métiers. La valeur est reprise à l'identique de la liasse déclarative et est purement déclarative (variable E71 selon la norme d'échange)."
                      code_norme_activite_entreprises:
                        maxLength: 5
                        minLength: 0
                        type: "string"
                        description: "Ce code correspond au code APE de l'entreprise, issu de la nomenclature des activités françaises de l'INSEE (NAF). Il définit l'activité principale de l'entreprise. Il est parfois également nommé code NAF."
                        example: '9602A'

                      code_nafa_principal:
                        maxLength: 6
                        minLength: 6
                        type: "string"
                        example: "9602AA"
                        description: "Code issu de la Nomenclature des Activités Françaises de l'Artisanat (NAFA Rèv2) pour l'activité principale au registre des métiers. La liste de ces codes est explorable sur le site de CMA France au lien suivant: http://nafa.apcma.fr/jlbweb/jlbWeb?html=NAFA/accueil
                      \n
                      \n
                        Plus d'infos disponible dans le catalogue de données API Entreprise : https://entreprise.api.gouv.fr/catalogue/#a-entreprises_artisanales_cma"
                      code_nafa_libelle:
                        maxLength: 120
                        minLength: 0
                        type: "string"
                        description: "Libellé du code NAFA."
                        example: 'Coiffure en salon'
                      code_nafa_secondaire1: &code_nafa_secondaire
                        maxLength: 6
                        type: "string"
                        example: ''
                        description: "Les entreprises artisanales peuvent avoir plusieurs activités d'artisanat. Ce code se réfère à la même nomenclature (NAFA Rèv2) que le code_nafa_principal."
                        nullable: true
                      code_nafa_secondaire2: *code_nafa_secondaire
                      code_nafa_secondaire3: *code_nafa_secondaire
                      secteur_activite_intitule_nar_4:
                        maxLength: 120
                        minLength: 0
                        type: "string"
                        description: "Indique le secteur d'activité de l'entreprise selon le code Nomenclature Artisanale Regroupée NAR 4.
                          \n
                          \n
                          Les variables possibles sont :
                          \n
                          - ALIMENTATION
                          \n
                          - BATIMENT
                          \n
                          - PRODUCTION
                          \n
                          - SERVICES
                          \n
                          \n
                            Plus d'infos disponible dans le catalogue de données API Entreprise : https://entreprise.api.gouv.fr/catalogue/#a-entreprises_artisanales_cma"
                        enum:
                          - 'ALIMENTATION'
                          - 'BATIMENT'
                          - 'PRODUCTION'
                          - 'SERVICES'
                        example: "SERVICES"
                      secteur_activite_intitule_nar_20:
                        maxLength: 120
                        minLength: 0
                        type: "string"
                        description: "Indique le secteur d'activité de l'entreprise selon le code Nomenclature Artisanale Regroupée NAR 20. La liste des code et leur libellé est disponible ici : https://entreprise.api.gouv.fr/assets/pdf/liste-nar.pdf"
                        example: "TRANSPORT"
                      dirigeant_qualification:
                        maxLength: 30
                        minLength: 0
                        type: "string"
                        description: "Indique la qualification artisanale de l'entrepreneur.
                          \n
                          \n
                          Les variables possibles sont :
                          \n
                          - ARTISAN
                          \n
                          - MAITRE ARTISAN
                          \n
                          - ARTISAN D'ART
                          \n
                          - ARTISAN MAITRE => Spécifique à l'Alsace et la Moselle.
                          \n
                          - ARTISAN MAITRE METIERS D'ART => Spécifique à l'Alsace et la Moselle.
                          - SANS QUALIFICATION
                          \n
                          \n
                          \n
                            Plus d'infos disponible dans le catalogue de données API Entreprise : https://entreprise.api.gouv.fr/catalogue/#a-entreprises_artisanales_cma"
                        example: 'ARTISAN'
                        enum:
                          - "ARTISAN"
                          - "MAITRE ARTISAN"
                          - "ARTISAN D'ART"
                          - "MAITRE ARTISAN D'ART"
                          - "ARTISAN MAITRE"
                          - "ARTISAN MAITRE METIERS D'ART"
                          - "SANS QUALIFICATION"
                      dirigeant_nom_de_naissance:
                        maxLength: 100
                        minLength: 0
                        type: "string"
                        description: "Nom dévolu à la personne le jour de la déclaration de sa naissance.
                        \n
                        \n
                          Plus d'infos disponible dans le catalogue de données API Entreprise : https://entreprise.api.gouv.fr/catalogue/#a-entreprises_artisanales_cma"
                        example: 'DUPONT'
                      dirigeant_nom_usage:
                        maxLength: 100
                        minLength: 0
                        type: "string"
                        description: "Nom choisi par la personne dont la forme est encadrée (voir bloc question/réponse dans cette documentation).
                        \n
                        \n
                          Plus d'infos disponible dans le catalogue de données API Entreprise : https://entreprise.api.gouv.fr/catalogue/#a-entreprises_artisanales_cma"
                        example: 'DUTUNNEL'
                      dirigeant_prenom1: &dirigeant_prenom
                        maxLength: 20
                        minLength: 0
                        type: "string"
                        description: "Le ou les prénoms figurant au registre de l'état civil."
                        example: 'Jean'
                      dirigeant_prenom2: *dirigeant_prenom
                      dirigeant_prenom3: *dirigeant_prenom
                      dirigeant_pseudonyme:
                        maxLength: 20
                        minLength: 0
                        type: "string"
                        description: "Nom utilisé par le dirigeant pour se désigner dans l'exercice de son activité, généralement littéraire ou artistique.
                        \n
                        \n
                          Plus d'infos disponible dans le catalogue de données API Entreprise : https://entreprise.api.gouv.fr/catalogue/#a-entreprises_artisanales_cma"
                        example: 'Jean'
                      dirigeant_date_de_naissance:
                        type: "string"
                        description: "Date de naissance de la personne physique."
                        format: "date"
                        example: '1950-01-01'
                      dirigeant_lieu_de_naissance:
                        maxLength: 35
                        minLength: 0
                        type: "string"
                        description: "Libellé en clair de la commune/pays de naissance."
                        example: 'PARIS'
                      date_immatriculation:
                        type: "string"
                        format: "date-time"
                        example: '1964-06-03T12:00:00Z'
                        description: "Date d'immatriculation au Répertoire des Métiers."
                      date_radiation:
                        type: "string"
                        format: "date-time"
                        example: '1969-02-03T12:00:00Z'
                        description: "Date de radiation du Répertoire des Métiers. Cette date est soit déclarative soit d'office."
                      date_debut_activite:
                        type: "string"
                        format: "date-time"
                        example: '1969-02-03T12:00:00Z'
                        description: "Date de début d'activité déclarée par le dirigeant lors de son immatriculation."
                      date_cessation_activite:
                        type: "string"
                        format: "date-time"
                        example: '1968-02-01T12:00:00Z'
                        description: "Date de cessation d'activité de la personne morale hors dissolution, appelée aussi mise en sommeil."
                      date_cloture_liquidation:
                        type: "string"
                        format: "date-time"
                        example: '1979-04-03T12:00:00Z'
                        description: "Date de clôture de la liquidation déclarée lors de la dissolution de la personne morale."
                      date_transfert_patrimoine:
                        type: "string"
                        format: "date-time"
                        example: '1965-02-04T12:00:00Z'
                        description: "Date de transfert de patrimoine à l'associé unique restant. Cette dissolution de la personne morale résulte du rassemblement de toutes les parts en une seule main."
                      date_dissolution:
                        type: "string"
                        format: "date-time"
                        example: '1989-02-03T12:00:00Z'
                        description: "Date de dissolution de la personne morale."
                      adresse_numero_voie:
                        type: "integer"
                        description: "Numéro dans la voie de l'entreprise"
                        format: "int64"
                        example: '1'
                      adresse_indice_repetition_voie:
                        maxLength: 1
                        minLength: 1
                        type: "string"
                        description: "Indique si le numéro de voie est complété par un indicateur de répétition.
                        \n
                        \n
                        Les variables possibles sont :
                        \n
                        - B => Bis
                        \n
                        - T => Ter
                        \n
                        - Q => Quater
                        \n
                        - C => Quinquies
                        \n"
                        enum:
                          - 'B'
                          - 'T'
                          - 'Q'
                          - 'C'
                        example: 'B'
                      adresse_type_voie:
                        maxLength: 4
                        minLength: 0
                        type: "string"
                        description: "Type de voie de l'entreprise.
                        \n
                        \n
                        Plus d'infos: https://www.sirene.fr/sirene/public/variable/typvoie"
                        example: 'RUE'
                      adresse_libelle_voie:
                        maxLength: 32
                        minLength: 1
                        type: "string"
                        description: "Libellé de voie ou lieu-dit de l'entreprise"
                        example: 'DE BELLEVILLE'
                      adresse_complement:
                        maxLength: 38
                        minLength: 0
                        type: "string"
                        description: "Complément d'adresse de l'entreprise"
                        example: 'Batiment C'
                      adresse_code_postal:
                        maxLength: 9
                        minLength: 9
                        type: "string"
                        description: "Code postal de l'entreprise"
                        example: '75010'
                      adresse_commune:
                        maxLength: 32
                        minLength: 1
                        type: "string"
                        description: "Libellé de localité de l'entreprise"
                        example: 'PARIS'
                      adresse_commune_cog:
                        maxLength: 5
                        minLength: 5
                        type: "string"
                        description: "Identifiant de localisation COG ( Code Officiel Géographique ) de l'entreprise.
                        \n
                        \n
                        Plus d'infos: https://www.insee.fr/fr/information/3720946"
                        example: '75119'
                      adresse_departement:
                        maxLength: 50
                        minLength: 1
                        type: "string"
                        description: "Département de l'entreprise."
                        example: 'PARIS'
                      adresse_region:
                        maxLength: 50
                        minLength: 1
                        type: "string"
                        description: "Région de l'entreprise."
                        example: 'ILE-DE-FRANCE'
                      libelle_epci:
                        maxLength: 255
                        minLength: 1
                        type: "string"
                        description: "Libellé de l'Établissement Public de Coopération Intercommunale correspondant au code officiel géographique de l'entreprise."
                        example: 'Métropole du Grand Paris'
                      # FIXME pas présent dans les payloads, à creuser
                      eirl_id_registre:
                        maxLength: 1
                        type: "string"
                        description: "En cas de double immatriculation, cette clé indique le choix du registre où est déposée la déclaration d'affectation de patrimoine.
                          \n
                          \n
                        Deux valeurs possibles:
                          \n
                          * 1 => RCS pour le Registre du Commerce et des Sociétés.
                          \n
                          * 2 => RM pour le Répertoire des Métiers
                        "
                        example: '1'
                      eirl_denomination:
                        maxLength: 120
                        minLength: 0
                        type: "string"
                        description: "Dénomination de l'EIRL en cas de double immatriculation. Elle incorpore le nom de l'entrepreneur précédé ou suivi immédiatement des mots : « Entrepreneur Individuel à Responsabilité Limitée » ou des initiales : « EIRL »."
                        example: "UMAD Corp EIRL"
                      eirl_objet_activite:
                        maxLength: 420
                        minLength: 0
                        type: "string"
                        description: "Objet de l'activité professionnelle à laquelle le patrimoine est affecté en cas de double immatriculation."
                        nullable: true
                        example: "REPARATION ET VENTE DE MATERIELS INFORMATIQUES FORMATION AUDIT ET ASSISTANCE INFORMATIQUE"
                      eirl_date_depot:
                        type: "string"
                        description: "Date d'effet du dépôt de la déclaration d'affectation de patrimoine, en cas de double immatriculation."
                        format: "date-time"
                        nullable: true
                        example: '1989-02-03T12:00:00Z'
                      rnm_id:
                        type: "integer"
                        description: "Identifiant interne à l'API RNM de l'entreprise"
                        format: "int64"
                        example: 123456
                      rnm_numero_gestion:
                        maxLength: 11
                        type: "string"
                        description: "Numéro de gestion interne à l'API RNM. Celui-ci se décompose en trois parties, les trois premiers caractères donnent le code du département ; les deux caractères suivants donnent l'année à laquelle le numéro a été attribué ; et les six derniers sont dédiés au numéro incrémenté."
                        example: "00012211035"
                      rnm_date_import:
                        type: 'string'
                        format: 'date-time'
                        description: "Il s'agit de la date de l'import des données de l'entreprise dans la base de données de l'API RNM."
                        example: "2019-11-02T09:09:25Z"
                      rnm_date_mise_a_jour:
                        type: 'string'
                        format: 'date-time'
                        description: "Il s'agit de la date de mise à jour des données transmises. Elle indique donc l'état de fraicheur de chacune des clés de la réponse JSON. La fraicheur des clés effectifs est à prendre avec plus de vigileance
                            \n
                            \n
                            Plus d'infos disponible dans le catalogue de données API Entreprise : https://entreprise.api.gouv.fr/catalogue/#a-entreprises_artisanales_cma"
                        example: "2019-12-02T09:09:25Z"
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'

  /v2/associations/{association_id}:
    get:
      tags:
        - *tag_general
      summary: "[RNA] Informations déclaratives d'une association"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-associations'>Documentation métier</a>"
      parameters: &association_parameters
        - $ref: '#/components/parameters/AssociationId'
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Recipient'
        - $ref: '#/components/parameters/Object'
      responses:
        '200':
          x-operationId: 'api_entreprise_v2_associations'
          description: 'OK'
          content:
            application/json:
              schema:
                type: object
                properties:
                  association:
                    type: object
                    properties:
                      adresse_siege:
                        properties:
                          code_insee:
                            description: Code INSEE de la commune
                            example: '98804'
                            type: string
                          code_postal:
                            example: '98813'
                            type: string
                          commune:
                            description: Nom de la commune
                            example: Canala
                            type: string
                          complement:
                            description: complément d'adresse
                            example: null
                            type: string
                          distribution:
                            description: Distribution spéciale
                            example: null
                            type: string
                          libelle_voie:
                            example: '1, rue Albaret lotissement FSH'
                            type: string
                          numero_voie:
                            description: Le numéro de rue est parfois dans le libellé
                            example: null
                            type: string
                          type_voie:
                            description: Le type de voie est parfois dans le libellé
                            example: null
                            type: string
                        type: object
                      civilite_dirigeant:
                        description: Jamais renseigné
                        example: null
                        type: string
                      code_civilite_dirigeant:
                        description: Jamais renseigné
                        example: null
                        type: string
                      code_etat:
                        description: Jamais renseigné
                        example: null
                        type: string
                      code_groupement:
                        description: Jamais renseigné
                        example: null
                        type: string
                      date_creation:
                        description: Il s'agit du jour de dépôt du dossier de création de l'association à la Préfecture
                        example: '2012-04-23'
                        type: string
                        format: date
                      date_declaration:
                        description: Jour de la dernière déclaration faîte par l'association.
                        example: '2012-04-23'
                        type: string
                        format: date
                      date_dissolution:
                        description: Si l'association est dissolue, ce champ indique la date de dissolution, autrement, il est indiqué 'null'.
                        example: null
                        type: string
                        format: date
                      date_publication:
                        description: Jour de la publication au journal officiel de l'avis de création de l'association. Toutes les assoiations ne sont pas forcément "déclarées". La publication au Journal Officiel permet à l'association de devenir une personne morale, a contrario des "associations de fait", non déclarées au JO. Ce champ peut donc être 'null'
                        example: null
                        type: string
                        format: date
                      etat:
                        description: État administratif de l'association, 'true' si elle est active 'false' sinon
                        example: 'true'
                        type: string
                      groupement:
                        description: "Trois modalités possibles : si l'association n'est pas un groupement, il est indiqué 'Simple' ; si l'association est un groupeement, la valeur est 'Union' ou 'Fédération'."
                        example: Simple
                        type: string
                      id:
                        description: Débutant par W et composé de 9 chiffres, il s'agit du numéro RNA, identifiant national de l'association. Ce numéro est attribué automatiquement lors de la déclaration de création d’une association. Une association ne disposant pas d’un numéro RNA s’en voit attribuer un à chaque modification effectuée auprès des services de l’État (modification de statuts ou des dirigeants de l’associations). Le numéro figure alors sur le récépissé délivré par la préfecture.
                        example: W9N3001202
                        type: string
                      mise_a_jour:
                        description: Date de la dernière mise à jour dans le RNA
                        example: '2012-04-23'
                        type: string
                        format: date
                      objet:
                        description: Il s'agit d'une description courte mais exhaustive des activités de l'organisme.
                        example: Réaliser des projets.
                        type: string
                      siret:
                        description: SIRET de l'association si elle en possède un. Même si elle possède un SIRET il peut ne pas être renseigné.
                        example: null
                        type: string
                      siret_siege_social:
                        description: SIRET du siège sociale de l'association. Il faut pour cela que l'association ait un SIRET et qu'il soit renseigné.
                        example: null
                        type: string
                      titre:
                        description: C'est le nom de l'association
                        example: WIYA
                        type: string
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'

  /v2/documents_associations/{association_id}:
    get:
      tags:
        - *tag_general
      summary: "[RNA] Divers documents d'une association"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-documents_associations'>Documentation métier</a>"
      parameters: *association_parameters
      responses:
        '200':
          x-operationId: 'api_entreprise_v2_documents_associations'
          description: 'OK'
          content:
            application/json:
              schema:
                type: object
                properties:
                  documents:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp:
                          example: '1631182730'
                          description: Date du dépot du document au format timestamp UNIX
                          type: string
                        type:
                          example: Récépissé de modification
                          description: "Ce sont les différents types de documents, et de fait, pour chaque URL, celui-ci est indiqué. Voici une liste non-exhaustive des options possibles : 'Liste des dirigeants', 'Statuts', 'Procès verbal', 'Récépissé de dissolution', 'Récépissé de modification'..."
                          type: string
                        url:
                          example: https://storage.entreprise.api.gouv.fr/siade/1635505765-5cd08405e4163c9f7713447829aeef7284c3283d-document_asso.pdf
                          description: l'URL du fichier
                          type: string
                  nombre_documents:
                    example: 1
                    description: Le nombre total de documents disponibles
                    type: integer
                  nombre_documents_deficients:
                    example: 0
                    description: Le nombre de documents ignorés car déficients (indisponibles, PDF invalide etc...)
                    type: integer
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'

  /v2/actes_inpi/{siren}:
    get:
      tags:
        - *tag_general
      summary: "[INPI] Actes"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-actes_inpi'>Documentation métier</a>"
      parameters: *only_siren_parameters
      responses:
        '200':
          x-operationId: 'api_entreprise_v2_actes_inpi'
          description: 'OK'
          content:
            application/json:
              schema:
                type: object
                properties:
                  actes:
                    type: array
                    description: Liste des actes disponibles
                    items:
                      type: object
                      properties:
                        code_greffe:
                          description: "Code du greffe en charge du dossier, la liste des codes greffes est disponible ici : https://www.data.gouv.fr/fr/datasets/liste-des-greffes/"
                          example: 7402
                          type: integer
                        date_depot:
                          description: Date dépot au format YYYYMMDD
                          example: '20170925'
                          type: string
                        denomination_sociale:
                          description: peut être null
                          example: null
                          type: string
                        id_fichier:
                          description: cet identifiant permet de retrouver le document dans l'archive ZIP, à l'aide du fichier "Response.json" permettant de faire lien entre cet ID et le nom du PDF.
                          example: 24924080
                          type: integer
                        nature_archive:
                          description: indique la nature de l'archive, "A" pour un acte, "R" pour une ordonnance et "P" pour une personne physique.
                          example: A
                          type: string
                        siren:
                          example: '788242667'
                          type: string
                  url_documents:
                    description: URL du fichier ZIP contenant tous les documents.
                    example: https://storage.entreprise.api.gouv.fr/siade_dev/1565606929-1a01ac932854e5632c7534ff4c18e18ec2845ec0-all_documents.zip
                    type: string
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'

  /v2/conventions_collectives/{siret}:
    get:
      tags:
        - *tag_general
      summary: "[Fabrique numérique des ministères sociaux] Conventions collectives d'une entreprise"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-conventions_collectives'>Documentation métier</a>"
      parameters: &only_siret_parameters
        - $ref: '#/components/parameters/Siret'
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Recipient'
        - $ref: '#/components/parameters/Object'
      responses:
        '200':
          x-operationId: 'api_entreprise_v2_conventions_collectives'
          description: 'OK'
          content:
            application/json:
              schema:
                type: object
                properties:
                  siret:
                    type: string
                  conventions:
                    type: array
                    items:
                      type: object
                      properties:
                        active:
                          type: boolean
                          example: true
                        date_publication:
                          type: string
                          example: '1988-01-01T00:00:00.000Z'
                        etat:
                          type: string
                          example: 'VIGUEUR_ETEN'
                        numero:
                          type: integer
                          example: 1486
                        titre_court:
                          type: string
                          example: "Bureaux d'études techniques, cabinets d'ingénieurs-conseils et sociétés de conseils"
                        titre:
                          type: string
                          example: "Convention collective nationale des bureaux d'études techniques, des cabinets d'ingénieurs-conseils et des sociétés de conseils du 15 décembre 1987."
                        url:
                          type: string
                          example: "https://www.legifrance.gouv.fr/affichIDCC.do?idConvention=KALICONT000005635173"
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'

  /v2/effectifs_annuels_acoss_covid/{siren}:
    get:
      tags:
        - *tag_general
      summary: "Effectifs mensuel moyen d'une entreprise sur l'année précédente"
      description: "Renvoie l'effectif moyen de l'entreprise sur l'année précédente"
      parameters: *only_siren_parameters
      responses:
        '200':
          x-operationId: 'api_entreprise_v2_effectifs_annuels_entreprise_acoss_covid'
          description: 'OK'
          content:
            application/json:
              schema:
                type: object
                properties:
                  annee:
                    description: Année concernée
                    example: '2019'
                    type: string
                  effectifs_annuels:
                    description: Effectifs mensuel moyen de l'entreprise
                    example: '171.11'
                    type: string
                  siren:
                    example: '999990286'
                    type: string
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'

  /v2/effectifs_mensuels_acoss_covid/{annee}/{mois}/entreprise/{siren}:
    get:
      tags:
        - *tag_general
      summary: "Effectifs mensuel moyen d'une entreprise sur un mois et année donnée"
      description: "Renvoie l'effectif moyen de l'entreprise sur un mois donnée. L'année est forcément 2020."
      parameters:
        - $ref: '#/components/parameters/Siren'
        - $ref: '#/components/parameters/Year'
        - $ref: '#/components/parameters/Month'
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Recipient'
        - $ref: '#/components/parameters/Object'
      responses:
        '200':
          x-operationId: 'api_entreprise_v2_effectifs_mensuels_entreprise_acoss_covid'
          description: 'OK'
          content:
            application/json:
              schema:
                type: object
                properties:
                  annee:
                    description: Année concernée
                    example: '2021'
                    type: string
                  effectifs_mensuels:
                    description: Effectifs mensuel déclarés
                    example: '6.00'
                    type: string
                  mois:
                    description: Mois concerné
                    example: '05'
                    type: string
                  siren:
                    example: '852751437'
                    type: string
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'

  /v2/effectifs_mensuels_acoss_covid/{annee}/{mois}/etablissement/{siret}:
    get:
      tags:
        - *tag_general
      summary: "Effectifs mensuel moyen d'un établissement sur un mois et année donnée"
      description: "Renvoie l'effectif moyen de l'établissement sur un mois donnée. L'année est forcément 2020."
      parameters:
        - $ref: '#/components/parameters/Siret'
        - $ref: '#/components/parameters/Year'
        - $ref: '#/components/parameters/Month'
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Recipient'
        - $ref: '#/components/parameters/Object'
      responses:
        '200':
          x-operationId: 'api_entreprise_v2_effectifs_mensuels_etablissement_acoss_covid'
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  annee:
                    description: Année concernée
                    example: '2021'
                    type: string
                  effectifs_mensuels:
                    description: Effectifs mensuel déclarés
                    example: '118.31'
                    type: string
                  mois:
                    description: Mois concerné
                    example: '05'
                    type: string
                  siret:
                    example: '99999028600018'
                    type: string
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'

## &tag_financier

  /v2/exercices/{siret}:
    get:
      tags:
        - *tag_financier
      summary: "[DGFIP] Chiffres d'affaires"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-exercices'>Documentation métier</a>"
      parameters: *only_siret_parameters
      responses:
        '200':
          x-operationId: 'api_entreprise_v2_exercices'
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  exercices:
                    type: array
                    description: Les exercices renvoyés par la DGFIP sont listés les uns après les autres, le premier étant le plus récent. Le nombre d’exercices renvoyés varie de 1 à 3. Pour chaque exercice, deux informations sont transmises
                    items:
                      type: object
                      properties:
                        ca:
                          description: Chiffre d'affaires en euros.
                          example: '648374448'
                          type: string
                        date_fin_exercice:
                          description: Date de fin de l'exercice
                          example: '2016-12-31T00:00:00+01:00'
                          type: string
                          format: date-time
                        date_fin_exercice_timestamp:
                          description: Date de fin de l'exercice au format timestamp UNIX
                          example: 1483138800
                          type: integer
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'

  /v2/bilans_inpi/{siren}:
    get:
      tags:
        - *tag_financier
      summary: "[INPI] Bilan annuels"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-bilans_inpi'>Documentation métier</a>"
      parameters: *only_siren_parameters
      responses:
        '200':
          x-operationId: 'api_entreprise_v2_bilans_inpi'
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  bilans:
                    type: array
                    items:
                      type: object
                      properties:
                        code_greffe:
                          description: "Code du greffe en charge du dossier, la liste des codes greffes est disponible ici : https://www.data.gouv.fr/fr/datasets/liste-des-greffes/"
                          example: 7402
                          type: integer
                        confidentiel:
                          description: Peut prendre les valeurs 0, 1 et 2 qui signifie respectivement non confidentiel, confidentiel et partiellement confidentiel. Référez-vous à la documentation de cette API pour plus de détails sur les traitements applicables à ces différents types de documents
                          example: 0
                          type: integer
                        date_cloture:
                          description: Date de clôture du bilan
                          example: '2016-12-31T00:00:00.000Z'
                          type: string
                          format: date-time
                        date_depot:
                          description: Date du dépot du bilan au format YYYYMMDD
                          example: '20180116'
                          type: string
                        denomination_sociale:
                          example: null
                          type: string
                        id_fichier:
                          description: cet identifiant permet de retrouver le document dans l'archive ZIP, à l'aide du fichier "Response.json" permettant de faire lien entre cet ID et le nom du PDF.
                          example: 11439992
                          type: integer
                        nature_archive:
                          description: Nature de l'archive, semble principalement renvoyer B-S (pour bilan simplifié)
                          example: B-S
                          type: string
                        numero_gestion:
                          description: Numéro interne aux greffiers pour identifier un dossier. Un dossier correspond à une entreprise dans un greffe donné. Il devrait donc être le même pour tous les documents.
                          example: 1973B00101
                          type: string
                        siren:
                          example: '788242667'
                          type: string
                  url_documents:
                    example: https://storage.entreprise.api.gouv.fr/siade_dev/1565607027-91ac7ac7e80b866055d23b9203e41fa0de487bc0-all_documents.zip
                    type: string
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'

  /v2/bilans_entreprises_bdf/{siren}:
    get:
      tags:
        - *tag_financier
      summary: "[BDF] 3 derniers bilans annuels"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-bilans_inpi'>Documentation métier</a>"
      parameters: *only_siren_parameters
      responses:
        '200':
          x-operationId: 'api_entreprise_v2_bilans_entreprises_bdf'
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  bilans:
                    type: array
                    description: "Les trois bilans de la Banque de France sont listés les uns après les autres, le premier étant le plus récent. La Banque de France renvoit également des données d'évolution par rapport à l'année précédente. Les calculs d'évolution sont calculés en comparant l'année N par rapport à l'année N-1. Ces montants ne sont fournis que si les liasses fiscales N et N-1 ont la même durée d'exercice. Les champs sont calculés par la Banque de France sur le mode suivant : (valeur à date N - valeur à date N-1) * 100 / valeur absolue (valeur à date N-1)."
                    items:
                      type: object
                      properties:
                        autres_fonds_propres:
                          description: Correspond à la case 'DO' de la liasse fiscale 2051.
                          example: '0'
                          type: string
                        besoin_en_fonds_de_roulement:
                          example: '-1656625'
                          type: string
                        capacite_autofinancement:
                          example: '3530749'
                          type: string
                        capital_social_inclus_dans_capitaux_propres_et_assimiles:
                          description: Correspond au capital social ou individuel de la case 'DA' de la liasse fiscale 2051, ce montant est inclu dans la somme précédente 'capitaux_propres_et_assimilés'.
                          example: '151427'
                          type: string
                        capitaux_propres_et_assimiles:
                          description: Correspond à la case 'DL' de la liasse fiscale 2051, soit le total des capitaux propres inscrits dans le passif.
                          example: '17394637'
                          type: string
                        chiffre_affaires_ht:
                          description: Correspond au chiffre d'affaire net total, France et exportations & livraisons intercommunautaires (case 'FL' de la liasse fiscale 2052).
                          example: '350741'
                          type: string
                        date_arret_exercice:
                          description: Date de la fin de l'exercice au format YYYYMM
                          example: '202012'
                          type: string
                        dettes1_emprunts_obligataires_et_convertibles:
                          description: Correspond à la case 'DS' de la liasse fiscale 2051.
                          example: '0'
                          type: string
                        dettes2_autres_emprunts_obligataires:
                          description: Correspond à la case 'DT' de la liasse fiscale 2051.
                          example: '14968965'
                          type: string
                        dettes3_emprunts_et_dettes_aupres_des_etablissements_de_credit:
                          description: Correspond à la case 'DU' de la liasse fiscale 2051.
                          example: '1301'
                          type: string
                        dettes4_maturite_a_un_an_au_plus:
                          description: Correspond à la somme des cases 'VG2' et 'VH2', soit les emprunts et dettes auprès des établissements de crédit à un an au plus par rapport à l'exercice.
                          example: '1301'
                          type: string
                        disponibilites:
                          example: '41160'
                          type: string
                        duree_exercice:
                          description: Durée de l'exercice (en mois) habituellement 12, mais peut-être différent notamment la première année de création de l'entreprise
                          example: '12'
                          type: string
                        emprunts_et_dettes_financieres_divers:
                          description: Correspond à la case 'DV' de la liasse fiscale 2051.
                          example: '6327539'
                          type: string
                        evolution_autres_fonds_propres:
                          example: ''
                          type: string
                        evolution_besoin_en_fonds_de_roulement:
                          example: ''
                          type: string
                        evolution_capacite_autofinancement:
                          example: ''
                          type: string
                        evolution_capital_social_inclus_dans_capitaux_propres_et_assimiles:
                          example: ''
                          type: string
                        evolution_capitaux_propres_et_assimiles:
                          example: ''
                          type: string
                        evolution_chiffre_affaires_ht:
                          example: ''
                          type: string
                        evolution_dettes1_emprunts_obligataires_et_convertibles:
                          example: ''
                          type: string
                        evolution_dettes2_autres_emprunts_obligataires:
                          example: ''
                          type: string
                        evolution_dettes3_emprunts_et_dettes_aupres_des_etablissements_de_credit:
                          example: ''
                          type: string
                        evolution_dettes4_maturite_a_un_an_au_plus:
                          example: ''
                          type: string
                        evolution_disponibilites:
                          example: ''
                          type: string
                        evolution_emprunts_et_dettes_financieres_divers:
                          example: ''
                          type: string
                        evolution_excedent_brut_exploitation:
                          example: ''
                          type: string
                        evolution_fonds_roulement_net_global:
                          example: ''
                          type: string
                        evolution_groupes_et_associes:
                          example: ''
                          type: string
                        evolution_ratio_fonds_roulement_net_global_sur_besoin_en_fonds_de_roulement:
                          example: ''
                          type: string
                        evolution_resultat_exercice:
                          example: ''
                          type: string
                        evolution_total_dettes_stables:
                          example: ''
                          type: string
                        evolution_total_passif:
                          example: ''
                          type: string
                        evolution_total_provisions_pour_risques_et_charges:
                          example: ''
                          type: string
                        evolution_valeur_ajoutee_bdf:
                          example: ''
                          type: string
                        excedent_brut_exploitation:
                          example: '-282148'
                          type: string
                        fonds_roulement_net_global:
                          example: '-1357111'
                          type: string
                        groupes_et_associes:
                          description: Correspond à l'état des dettes du groupe et des associés, case 'VI' de la liasse fiscale 2057.
                          example: '1540015'
                          type: string
                        ratio_fonds_roulement_net_global_sur_besoin_en_fonds_de_roulement:
                          example: '-'
                          type: string
                        resultat_exercice:
                          description: Correspond au "bénéfice ou perte" de l'entreprise, total des produits - total des charges (case 'HN' de la liasse fiscale 2053).
                          example: '3212682'
                          type: string
                        total_dettes_stables:
                          description: "Cette valeur est calculée par la Banque de France comme suit : 'dettes1_emprunts_obligataires_et_convertibles' + 'dettes2_autres_emprunts_obligataires' + 'dettes3_emprunts_et_dettes_aupres_des_etablissements_de_credit' - 'dettes4_maturite_a_un_an_au_plus'. Dans le cas ou un des termes du calcul ne serait pas renseigné, il est considéré comme ayant une valeur nulle pour le calcul."
                          example: '14968965'
                          type: string
                        total_passif:
                          description: Correspond à la somme totale du passif de l'entreprise, soit ses capitaux propres, ses fonds propres, ses provisions pour risques et ses charges, ainsi que ses dettes (case 'EE' de la liasse fiscale 2051).
                          example: '41692490'
                          type: string
                        total_provisions_pour_risques_et_charges:
                          description: Correspond à la case 'DR' de la liasse fiscale 2051.
                          example: '755947'
                          type: string
                        valeur_ajoutee_bdf:
                          example: '-118729'
                          type: string
                  monnaie:
                    example: kEuros
                    type: string
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'

  /v2/liasses_fiscales_dgfip/{annee}/declarations/{siren}:
    get:
      tags:
        - *tag_financier
      summary: "[DGFIP] Déclarations de résultat : liasses fiscales d'une entreprise pour une année donnée"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-liasses_fiscales_dgfip'>Documentation métier</a>"
      parameters: &siren_year_and_email_parameters
[...]
