openapi: 3.0.0
info:
  title: "API Entreprise"
  version: "v2"
  description: |
    Bienvenue sur le Swagger du hub API Entreprise.

    ## À quoi sert cette page ?
       Cette page est un environnement de production et de staging (test) documenté, propulsé par Open API (Swagger), mettant à disposition la spécification technique de toutes les API disponibles sur API Entreprise. Ce swagger permet d'effectuer directement depuis votre navigateur des tests de l'API.
       Pour une documentation complète incluant également des informations métiers, veuillez vous référez au [catalogue des données d'API Entreprise] (https://entreprise.api.gouv.fr/catalogue/)


    ## À qui s&apos;adresse-t&apos;elle ?
       Ce swagger s'adresse en priorité aux **équipes techniques**, développeurs et développeuses.

      L&apos;API Entreprise étant accessible uniquement sous habilitation, l&apos;interaction avec l'environnement de production n&apos;est possible que si vous êtes **en possession d&apos;une clé d&apos;accès (token).**


    ### Comment tester l'API ?

      Il est cependant possible de tester les API via notre environnement de **staging** (https://staging.entreprise.api.gouv.fr) qui vous retournera systématiquement des données fictives.

      Il est nécessaire d'utiliser le jeton de staging indiqué ci-dessous.

      ---

      *eyJhbGciOiJIUzI1NiJ9.eyJ1aWQiOiIzMGU2ODQ1OC0wMjlhLTQ2YTAtYWJiMi03ZTA4ZGVlMDAxM2UiLCJqdGkiOiIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiLCJyb2xlcyI6WyJjZXJ0aWZpY2F0X3JnZV9hZGVtZSIsIm1zYV9jb3Rpc2F0aW9ucyIsImVudHJlcHJpc2UiLCJleHRyYWl0X3JjcyIsImNlcnRpZmljYXRfb3BxaWJpIiwiYXNzb2NpYXRpb25zIiwiZXRhYmxpc3NlbWVudCIsImV0YWJsaXNzZW1lbnRzIiwiZm50cF9jYXJ0ZV9wcm8iLCJxdWFsaWJhdCIsImVudHJlcHJpc2VfYXJ0aXNhbmFsZSIsImNlcnRpZmljYXRfY25ldHAiLCJlb3JpX2RvdWFuZXMiLCJwcm9idHAiLCJhY3Rlc19pbnBpIiwiZXh0cmFpdF9jb3VydF9pbnBpIiwiYXR0ZXN0YXRpb25zX3NvY2lhbGVzIiwibGlhc3NlX2Zpc2NhbGUiLCJhdHRlc3RhdGlvbnNfZmlzY2FsZXMiLCJleGVyY2ljZXMiLCJjb252ZW50aW9uc19jb2xsZWN0aXZlcyIsInVwdGltZSIsImJpbGFuc19pbnBpIiwiZG9jdW1lbnRzX2Fzc29jaWF0aW9uIiwiYWlkZXNfY292aWRfZWZmZWN0aWZzIiwiY2VydGlmaWNhdF9hZ2VuY2VfYmlvIiwiZW50cmVwcmlzZXMiLCJiaWxhbnNfZW50cmVwcmlzZV9iZGYiLCJwcml2aWxlZ2VzIiwiYXR0ZXN0YXRpb25zX2FnZWZpcGgiLCJleHRyYWl0c19yY3MiLCJlbnRyZXByaXNlc19hcnRpc2FuYWxlcyJdLCJzdWIiOiJzdGFnaW5nIGRldmVsb3BtZW50IiwiaWF0IjoxNjU2NTkzNjYxLCJ2ZXJzaW9uIjoiMS4wIiwiZXhwIjoxNjU5MTg1NjYxfQ.wO55RVpIxYLKCH9EMXKoG3fkHfVQivGOExHs93xF-eE*

servers:
  - url: "https://entreprise.api.gouv.fr"
    description: "Environnement de production"
  - url: "https://staging.entreprise.api.gouv.fr"
    description: "Environnement de staging"


tags:
  - name: &tag_general "Informations générales"
  - name: &tag_financier "Informations financières"
  - name: &tag_attestations "Attestations sociales et fiscales"
  - name: &tag_certificats_professionelles "Certifications professionelles"
  - name: &tag_propriete_intellectuelle "Propriétés intellectuelle"
  - name: &tag_api_complementaires "API Complémentaires"


paths:

## &tag_general

  /v2/entreprises/{siren}:
    get:
      tags:
        - *tag_general
      summary: "[INSEE] Données de référence d'une entreprise"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-entreprises'>Documentation métier</a>"
      parameters:
        - $ref: '#/components/parameters/Siren'
        - $ref: '#/components/parameters/NotDiffusable'
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Recipient'
        - $ref: '#/components/parameters/Object'
      responses:
        '200':
          x-operationId: 'api_entreprise_v2_entreprises_restored'
          description: 'OK'
          content:
            application/json:
              schema:
                type: object
                properties:
                  entreprise:
                    type: "object"
                    description: "Données générales"
                    properties:
                      capital_social:
                        type: "integer"
                        description: "Capital sociale de l'entreprise - source Infogreffe"
                        example: 10000
                      categorie_entreprise:
                        type: 'string'
                        description: "Trois modalités possibles : 'PME', petite ou moyenne entreprise, dont les micros entreprises ; 'ETI' entreprise de taille intermédiaire ; ou 'GE', grande entreprise. Cette variable est calculée par l'INSEE, selon la méthode explicitée à l'adresse https://www.insee.fr/fr/information/1730869"
                        example: "PME"
                      code_effectif_entreprise:
                        type: "string"
                        description: "Le code effectif correspond à une fourchette de nombre de salariés, celle-ci est indiquée un peu plus loin au champ 'tranche_effectif_salarie_entreprise'. Ce code respecte la nomenclature de l'INSEE disponible à cette adresse : https://portail-api.insee.fr/catalog/api/2ba0e549-5587-3ef1-9082-99cd865de66f/doc?page=e5ad6542-3cac-4840-ad65-423cacf8408d#trancheeffectifsunitelegale"
                        example: "31"
                      date_creation:
                        type: "integer"
                        description: "Date au format timestamp UNIX."
                        example: 1558303200
                      date_radiation:
                        type: "integer"
                        description: "Indique null si l’entreprise n’est pas radiée du registre. Dans le cas contraire, la date est fournie au format timestamp UNIX 000000000"
                        example: "null"
                      enseigne:
                        description: "Enseigne de l'entreprise - source Infogreffe"
                        example: "JK AC"
                        type: "string"
                      etat_administratif:
                        type: "object"
                        description: "L’état administratif est l’état juridique de l’entreprise (source INSEE)"
                        properties:
                          date_cessation:
                            type: "integer"
                            description: "Indique 'null' quand l'entreprise est jurdiquement active. Quand 'value = C', un timestamp (un entier) est renvoyé"
                            example: "null"
                          value:
                            type: "string"
                            description: "Indique si l'entreprise est juridiquement active, par 'A'. Ou si elle est jurdiquement cessée, par 'C'. Dans certains cas exceptionnels, l'état peut être 'null'. Par exemple, lorsqu'une entité vient de créer son SIREN, mais qu'elle n'a pas encore débuté son activité"
                            example: "A"
                      forme_juridique:
                        description: "Issus de la nomenclature des catégories juridiques de l’INSEE"
                        example: "Société à responsabilité limitée (sans autre indication)"
                        type: "string"
                      forme_juridique_code:
                        description: "Issus de la nomenclature des catégories juridiques de l’INSEE. Pour les personnes physique, cette variable est à 1000."
                        example: "5499"
                        type: "string"
                      libelle_naf_entreprise:
                        description: "Issu de la nomenclature d’activités française de l’INSEE."
                        example: "Conseil pour les affaires et autres conseils de gestion"
                        type: "string"
                      mandataires_sociaux:
                        type: "array"
                        description: "Il y a deux types de mandataires sociaux, les personnes physiques et les personnes morales"
                        items:
                          type: object
                          properties:
                            date_naissance:
                              description: "ce champ concerne les personnes physiques"
                              example: '1958-03-25'
                              type: "string"
                              format: "date"
                            date_naissance_timestamp:
                              description: "ce champ concerne les personnes physiques (au format UNIX)"
                              example: 371523600
                              type: "integer"
                            dirigeant:
                              description: "Toujours 'true'"
                              example: true
                              type: boolean
                            fonction:
                              description: "Fonction du dirigeant"
                              example: "GERANT"
                              type: "string"
                            identifiant:
                              description: "Cet élément de 7 à 9 chiffres est facultatif et peut être vide"
                              example: "490092574"
                              type: "string"
                            nom:
                              description: "ce champ concerne les personnes physiques"
                              example: JAKUBOWSKI
                              type: "string"
                            prenom:
                              description: "ce champ concerne les personnes physiques"
                              example: BRIGITTE, MYRIAM
                              type: "string"
                            raison_sociale:
                              description: "ce champ concerne les personnes morales"
                              example: null
                              type: "string"
                            type:
                              description: "PM pour les personnes morales et PP pour les personnes physiques"
                              example: PP
                              type: "string"
                      naf_entreprise:
                        description: "Issu de la nomenclature d’activités française de l’INSEE"
                        example: 7022Z
                        type: "string"
                      nom:
                        description: "Ce champ concerne les personnes physiques"
                        example: null
                        type: "string"
                      nom_commercial:
                        description: "Ce champ concerne les personnes morales (source Infogreffe)"
                        example: ""
                        type: "string"
                      numero_tva_intracommunautaire:
                        description: "Également appelé numéro d’identification fiscale NIF. Ce numéro est calculé par API Entreprise selon la règle officielle, cette donnée est donc théorique. Dans le cas où l’établissement siège est à l’étranger, la valeur renvoit 'null'. En effet, dans ce cas le numéro de TVA est problablement calculé par le pays où se situe l'établissement siège et non par la France. La seule source fiable est alors l'entreprise elle-même"
                        example: FR89851265074
                        type: "string"
                      prenom:
                        description: "Ce champ concerne les personnes physiques"
                        example: null
                        type: "string"
                      procedure_collective:
                        description: "Toujours indiqué comme 'false', et à ignorer. Ce champ sera bientôt supprimé"
                        example: false
                        type: boolean
                      raison_sociale:
                        description: "raison sociale de l'entreprise"
                        example: JK ASSOCIATES CONSULTING
                        type: "string"
                      siren:
                        description: "siren de l'entreprise"
                        example: '851265074'
                        type: "string"
                      siret_siege_social:
                        description: "siret du siège sociale de l'entreprise"
                        example: '85126507400019'
                        type: "string"
                      tranche_effectif_salarie_entreprise:
                        description: "Les champs suivants indiquent en détail l'effectif de salariés de l'entreprise"
                        type: 'object'
                        properties:
                          a:
                            example: "249"
                            type: "string"
                          code:
                            example: "31"
                            type: "string"
                          date_reference:
                            example: "2014"
                            type: "string"
                          de:
                            example: "200"
                            type: "string"
                          intitule:
                            example: "200 à 249 salariés"
                            type: "string"
                  etablissement_siege:
                    type: object
                    properties:
                      adresse:
                        description: "Depuis 2018, l'INSEE ne fournit plus d'adresse au format RNVP, nous opérons donc une reconstruction de l'adresse à partir des champs disponibles dans leur nouvelle API ; cette reconstruction n'est en aucun cas un traitement RNVP : Des différences minimes résultant de l'arrêt du RNVP peuvent être constatées"
                        properties:
                          cedex:
                            example: null
                            type: "string"
                          code_insee_localite:
                            example: "75108"
                            type: "string"
                          code_postal:
                            example: "75008"
                            type: "string"
                          complement_adresse:
                            example: null
                            type: "string"
                          l1:
                            description: "Raison sociale, ou civilité + prénom + nom"
                            example: JK ASSOCIATES CONSULTING
                            type: "string"
                          l2:
                            description: "Raisons sociales usuelles"
                            example: null
                            type: "string"
                          l3:
                            description: "Complément d'adresse"
                            example: null
                            type: "string"
                          l4:
                            description: "Numéro de voie +  indice de répétition + type de voie + libellé voie"
                            example: "57 RUE D'AMSTERDAM"
                            type: "string"
                          l5:
                            description: "Distribution spéciale"
                            example: null
                            type: "string"
                          l6:
                            description: "Code cedex + code cedex ou code postal + libellé commune ou libellé commune à l'étranger."
                            example: "75008 PARIS 8"
                            type: "string"
                          l7:
                            description: "Pays"
                            example: FRANCE
                            type: "string"
                          localite:
                            example: "PARIS 8"
                            type: "string"
                          nom_voie:
                            example: "D'AMSTERDAM"
                            type: "string"
                          numero_voie:
                            example: "57"
                            type: "string"
                          type_voie:
                            example: RUE
                            type: "string"
                        type: object
                      commune_implantation:
                        type: object
                        properties:
                          code:
                            example: '75108'
                            type: "string"
                          value:
                            example: "Paris 8e Arrondissement"
                            type: "string"
                      date_creation_etablissement:
                        description: "Format timestamp UNIX"
                        example: 1558303200
                        type: integer
                      date_mise_a_jour:
                        description: "Format timestamp UNIX"
                        example: 1560929613
                        type: integer
                      diffusable_commercialement:
                        description: "true si l'entreprise a demandé à être non diffusable (autoentrepreneur)"
                        example: true
                        type: boolean
                      enseigne:
                        description: "Enseigne commerciale (source Infogreffe)"
                        example: null
                        type: "string"
                      etat_administratif:
                        type: object
                        description: Lors de son inscription au répertoire, un établissement est, sauf exception, à l’état ouvert. Le passage à l’état fermé découle de la prise en compte d’une déclaration de fermeture.
                        properties:
                          date_fermeture:
                            description:  Indique "null" quand le champ précédent est "A" (actif), et renvoit un entier au format timestamp si le champ précédent est "F"
                            example: 1315173600
                            type: 'integer'
                          value:
                            description: Lorsqu'un établissement est ouvert, la valeur indiquée est "A" (actif). S'il est fermé, l'endpoint renverra "F"(fermé)
                            example: F
                            type: "string"
                      libelle_naf:
                        description: Issu de la nomenclature d’activités française de l’INSEE
                        example: Conseil pour les affaires et autres conseils de gestion
                        type: "string"
                      naf:
                        description: Issu de la nomenclature d’activités française de l’INSEE
                        example: 7022Z
                        type: "string"
                      pays_implantation:
                        type: object
                        properties:
                          code:
                            example: FR
                            type: "string"
                          value:
                            example: FRANCE
                            type: "string"
                      region_implantation:
                        type: object
                        properties:
                          code:
                            example: '11'
                            type: "string"
                          value:
                            example: Île-de-France
                            type: "string"
                      siege_social:
                        description: Indique si l'établissement est le siège social (toujours à true par définition)
                        example: true
                        type: boolean
                      siret:
                        example: '85126507400019'
                        type: "string"
                      tranche_effectif_salarie_etablissement:
                        description: "Les champs suivants indiquent en détail l'effectif de salariés de l'entreprise"
                        properties:
                          a:
                            example: "249"
                            type: "string"
                          code:
                            example: "31"
                            type: "string"
                          date_reference:
                            example: "2014"
                            type: "string"
                          de:
                            example: "200"
                            type: "string"
                          intitule:
                            example: "200 à 249 salariés"
                            type: "string"
                        type: object
                  gateway_error:
                    description: "Indique si un des deux fournisseurs de données n'a pas fonctionné : INSEE ou Infogreffe."
                    example: false
                    type: boolean
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'

  /v2/etablissements/{siret}:
    get:
      tags:
        - *tag_general
      summary: "[INSEE] Données de référence d'un établissement"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-etablissements'>Documentation métier</a>"
      parameters:
        - $ref: '#/components/parameters/Siret'
        - $ref: '#/components/parameters/NotDiffusable'
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Recipient'
        - $ref: '#/components/parameters/Object'
      responses:
        '200':
          x-operationId: 'api_entreprise_v2_etablissements_restored'
          description: 'OK'
          content:
            application/json:
              schema:
                properties:
                  etablissement:
                    type: object
                    properties:
                      adresse:
                        description: "Depuis 2018, l'INSEE ne fournit plus d'adresse au format RNVP, nous opérons donc une reconstruction de l'adresse à partir des champs disponibles dans leur nouvelle API ; cette reconstruction n'est en aucun cas un traitement RNVP : Des différences minimes résultant de l'arrêt du RNVP peuvent être constatées"
                        properties:
                          cedex:
                            example: null
                            type: "string"
                          code_insee_localite:
                            example: "75108"
                            type: "string"
                          code_postal:
                            example: "75008"
                            type: "string"
                          complement_adresse:
                            example: null
                            type: "string"
                          l1:
                            description: "Raison sociale, ou civilité + prénom + nom"
                            example: JK ASSOCIATES CONSULTING
                            type: "string"
                          l2:
                            description: "Raisons sociales usuelles"
                            example: null
                            type: "string"
                          l3:
                            description: "Complément d'adresse"
                            example: null
                            type: "string"
                          l4:
                            description: "Numéro de voie +  indice de répétition + type de voie + libellé voie"
                            example: "57 RUE D'AMSTERDAM"
                            type: "string"
                          l5:
                            description: "Distribution spéciale"
                            example: null
                            type: "string"
                          l6:
                            description: "Code cedex + code cedex ou code postal + libellé commune ou libellé commune à l'étranger."
                            example: "75008 PARIS 8"
                            type: "string"
                          l7:
                            description: "Pays"
                            example: FRANCE
                            type: "string"
                          localite:
                            example: "PARIS 8"
                            type: "string"
                          nom_voie:
                            example: "D'AMSTERDAM"
                            type: "string"
                          numero_voie:
                            example: "57"
                            type: "string"
                          type_voie:
                            example: RUE
                            type: "string"
                        type: object
                      commune_implantation:
                        type: object
                        properties:
                          code:
                            example: '75108'
                            type: "string"
                          value:
                            example: "Paris 8e Arrondissement"
                            type: "string"
                      date_creation_etablissement:
                        description: "Format timestamp UNIX"
                        example: 1558303200
                        type: integer
                      date_mise_a_jour:
                        description: "Format timestamp UNIX"
                        example: 1560929613
                        type: integer
                      diffusable_commercialement:
                        description: "true si l'entreprise a demandé à être non diffusable (autoentrepreneur)"
                        example: true
                        type: boolean
                      enseigne:
                        description: "Enseigne commerciale (source Infogreffe)"
                        example: null
                        type: "string"
                      etat_administratif:
                        type: object
                        description: Lors de son inscription au répertoire, un établissement est, sauf exception, à l’état ouvert. Le passage à l’état fermé découle de la prise en compte d’une déclaration de fermeture.
                        properties:
                          date_fermeture:
                            description:  Indique "null" quand le champ précédent est "A" (actif), et renvoit un entier au format timestamp si le champ précédent est "F"
                            example: 1315173600
                            type: 'integer'
                          value:
                            description: Lorsqu'un établissement est ouvert, la valeur indiquée est "A" (actif). S'il est fermé, l'endpoint renverra "F"(fermé)
                            example: F
                            type: "string"
                      libelle_naf:
                        description: Issu de la nomenclature d’activités française de l’INSEE
                        example: Conseil pour les affaires et autres conseils de gestion
                        type: "string"
                      naf:
                        description: Issu de la nomenclature d’activités française de l’INSEE
                        example: 7022Z
                        type: "string"
                      pays_implantation:
                        type: object
                        properties:
                          code:
                            example: FR
                            type: "string"
                          value:
                            example: FRANCE
                            type: "string"
                      region_implantation:
                        type: object
                        properties:
                          code:
                            example: '11'
                            type: "string"
                          value:
                            example: Île-de-France
                            type: "string"
                      siege_social:
                        description: Indique si l'établissement est le siège social (toujours à true par définition)
                        example: true
                        type: boolean
                      siret:
                        example: '85126507400019'
                        type: "string"
                      tranche_effectif_salarie_etablissement:
                        description: "Les champs suivants indiquent en détail l'effectif de salariés de l'entreprise"
                        properties:
                          a:
                            example: "249"
                            type: "string"
                          code:
                            example: "31"
                            type: "string"
                          date_reference:
                            example: "2014"
                            type: "string"
                          de:
                            example: "200"
                            type: "string"
                          intitule:
                            example: "200 à 249 salariés"
                            type: "string"
                        type: object
                  gateway_error:
                    description: An explanation about the purpose of this instance.
                    example: false
                    type: boolean
                type: object
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'

  /v2/extraits_rcs_infogreffe/{siren}:
    get:
      tags:
        - *tag_general
      summary: "[INFOGREFFE] Extrait RCS"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-extrait_rcs_infogreffe'>Documentation métier</a>"
      parameters: &only_siren_parameters
        - $ref: '#/components/parameters/Siren'
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Recipient'
        - $ref: '#/components/parameters/Object'
      responses:
        '200':
          x-operationId: 'api_entreprise_v2_extraits_rcs_infogreffe'
          description: 'OK'
          content:
            application/json:
              schema:
                type: 'object'
                properties:
                  siren:
                    type: 'string'
                    description: "Siren de l'entreprise"
                    example: '301123626'
                  date_immatriculation:
                    type: "string"
                    format: "date"
                    example: '1974-10-07'
                    description: "Il s'agit du jour d'immatriculation de l'entreprise au RCS. À compter de cette date, les sociétés jouissent de la personnalité morale. Cette date d'immatriculation n'est pas la même que celle délivrée par l'INSEE. Elle ne correspond pas non plus à la date du début d'activité."
                  date_immatriculation_timestamp:
                    type: "integer"
                    example: 150332400
                    description: "Date d'immatriculation au format timestamp UNIX"
                  date_extrait:
                    type: "string"
                    example: "26 OCTOBRE 2021"
                    description: "Date de mise à jour de l'extrait RCS"
                  observations:
                    type: array
                    description: "Ce champ délivre tous les messages laissés par le greffier inscrits dans les observations."
                    items:
                      type: object
                      properties:
                        date:
                          type: "string"
                          format: "date"
                          example: "1991-01-11"
                          description: "Date de l'observation"
                        date_timestamp:
                          type: "integer"
                          example: 663548400
                          description: "Date de l'observation au format timestamp UNIX"
                        numero:
                          type: "string"
                          example: "2000"
                          description: "Numéro de l'observation"
                        libelle:
                          type: "string"
                          example: "CONTENU DE L'OBSERVATION NUMÉRO 2000"
                          description: "Contenu de l'obersation"
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'

  /v2/associations/{association_id}:
    get:
      tags:
        - *tag_general
      summary: "[RNA] Informations déclaratives d'une association"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-associations'>Documentation métier</a>"
      parameters: &association_parameters
        - $ref: '#/components/parameters/AssociationId'
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Recipient'
        - $ref: '#/components/parameters/Object'
      responses:
        '200':
          x-operationId: 'api_entreprise_v2_associations'
          description: 'OK'
          content:
            application/json:
              schema:
                type: object
                properties:
                  association:
                    type: object
                    properties:
                      adresse_siege:
                        properties:
                          code_insee:
                            description: Code INSEE de la commune
                            example: '98804'
                            type: string
                          code_postal:
                            example: '98813'
                            type: string
                          commune:
                            description: Nom de la commune
                            example: Canala
                            type: string
                          complement:
                            description: complément d'adresse
                            example: null
                            type: string
                          distribution:
                            description: Distribution spéciale
                            example: null
                            type: string
                          libelle_voie:
                            example: '1, rue Albaret lotissement FSH'
                            type: string
                          numero_voie:
                            description: Le numéro de rue est parfois dans le libellé
                            example: null
                            type: string
                          type_voie:
                            description: Le type de voie est parfois dans le libellé
                            example: null
                            type: string
                        type: object
                      civilite_dirigeant:
                        description: Jamais renseigné
                        example: null
                        type: string
                      code_civilite_dirigeant:
                        description: Jamais renseigné
                        example: null
                        type: string
                      code_etat:
                        description: Jamais renseigné
                        example: null
                        type: string
                      code_groupement:
                        description: Jamais renseigné
                        example: null
                        type: string
                      date_creation:
                        description: Il s'agit du jour de dépôt du dossier de création de l'association à la Préfecture
                        example: '2012-04-23'
                        type: string
                        format: date
                      date_declaration:
                        description: Jour de la dernière déclaration faîte par l'association.
                        example: '2012-04-23'
                        type: string
                        format: date
                      date_dissolution:
                        description: Si l'association est dissolue, ce champ indique la date de dissolution, autrement, il est indiqué 'null'.
                        example: null
                        type: string
                        format: date
                      date_publication:
                        description: Jour de la publication au journal officiel de l'avis de création de l'association. Toutes les assoiations ne sont pas forcément "déclarées". La publication au Journal Officiel permet à l'association de devenir une personne morale, a contrario des "associations de fait", non déclarées au JO. Ce champ peut donc être 'null'
                        example: null
                        type: string
                        format: date
                      etat:
                        description: État administratif de l'association, 'true' si elle est active 'false' sinon
                        example: 'true'
                        type: string
                      groupement:
                        description: "Trois modalités possibles : si l'association n'est pas un groupement, il est indiqué 'Simple' ; si l'association est un groupeement, la valeur est 'Union' ou 'Fédération'."
                        example: Simple
                        type: string
                      id:
                        description: Débutant par W et composé de 9 chiffres, il s'agit du numéro RNA, identifiant national de l'association. Ce numéro est attribué automatiquement lors de la déclaration de création d’une association. Une association ne disposant pas d’un numéro RNA s’en voit attribuer un à chaque modification effectuée auprès des services de l’État (modification de statuts ou des dirigeants de l’associations). Le numéro figure alors sur le récépissé délivré par la préfecture.
                        example: W9N3001202
                        type: string
                      mise_a_jour:
                        description: Date de la dernière mise à jour dans le RNA
                        example: '2012-04-23'
                        type: string
                        format: date
                      objet:
                        description: Il s'agit d'une description courte mais exhaustive des activités de l'organisme.
                        example: Réaliser des projets.
                        type: string
                      siret:
                        description: SIRET de l'association si elle en possède un. Même si elle possède un SIRET il peut ne pas être renseigné.
                        example: null
                        type: string
                      siret_siege_social:
                        description: SIRET du siège sociale de l'association. Il faut pour cela que l'association ait un SIRET et qu'il soit renseigné.
                        example: null
                        type: string
                      titre:
                        description: C'est le nom de l'association
                        example: WIYA
                        type: string
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'

  /v2/documents_associations/{association_id}:
    get:
      tags:
        - *tag_general
      summary: "[RNA] Divers documents d'une association"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-documents_associations'>Documentation métier</a>"
      parameters: *association_parameters
      responses:
        '200':
          x-operationId: 'api_entreprise_v2_documents_associations'
          description: 'OK'
          content:
            application/json:
              schema:
                type: object
                properties:
                  documents:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp:
                          example: '1631182730'
                          description: Date du dépot du document au format timestamp UNIX
                          type: string
                        type:
                          example: Récépissé de modification
                          description: "Ce sont les différents types de documents, et de fait, pour chaque URL, celui-ci est indiqué. Voici une liste non-exhaustive des options possibles : 'Liste des dirigeants', 'Statuts', 'Procès verbal', 'Récépissé de dissolution', 'Récépissé de modification'..."
                          type: string
                        url:
                          example: https://storage.entreprise.api.gouv.fr/siade/1635505765-5cd08405e4163c9f7713447829aeef7284c3283d-document_asso.pdf
                          description: l'URL du fichier
                          type: string
                  nombre_documents:
                    example: 1
                    description: Le nombre total de documents disponibles
                    type: integer
                  nombre_documents_deficients:
                    example: 0
                    description: Le nombre de documents ignorés car déficients (indisponibles, PDF invalide etc...)
                    type: integer
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'
  /v2/effectifs_annuels_acoss_covid/{siren}:
    get:
      tags:
        - *tag_general
      summary: "Effectifs mensuel moyen d'une entreprise sur l'année précédente"
      description: "Renvoie l'effectif moyen de l'entreprise sur l'année précédente"
      parameters: *only_siren_parameters
      responses:
        '200':
          x-operationId: 'api_entreprise_v2_effectifs_annuels_entreprise_acoss_covid'
          description: 'OK'
          content:
            application/json:
              schema:
                type: object
                properties:
                  annee:
                    description: Année concernée
                    example: '2019'
                    type: string
                  effectifs_annuels:
                    description: Effectifs mensuel moyen de l'entreprise
                    example: '171.11'
                    type: string
                  siren:
                    example: '999990286'
                    type: string
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'

  /v2/effectifs_mensuels_acoss_covid/{annee}/{mois}/entreprise/{siren}:
    get:
      tags:
        - *tag_general
      summary: "Effectifs mensuel moyen d'une entreprise sur un mois et année donnée"
      description: "Renvoie l'effectif moyen de l'entreprise sur un mois donnée. L'année est forcément 2020."
      parameters:
        - $ref: '#/components/parameters/Siren'
        - $ref: '#/components/parameters/Year'
        - $ref: '#/components/parameters/Month'
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Recipient'
        - $ref: '#/components/parameters/Object'
      responses:
        '200':
          x-operationId: 'api_entreprise_v2_effectifs_mensuels_entreprise_acoss_covid'
          description: 'OK'
          content:
            application/json:
              schema:
                type: object
                properties:
                  annee:
                    description: Année concernée
                    example: '2021'
                    type: string
                  effectifs_mensuels:
                    description: Effectifs mensuel déclarés
                    example: '6.00'
                    type: string
                  mois:
                    description: Mois concerné
                    example: '05'
                    type: string
                  siren:
                    example: '852751437'
                    type: string
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'

  /v2/effectifs_mensuels_acoss_covid/{annee}/{mois}/etablissement/{siret}:
    get:
      tags:
        - *tag_general
      summary: "Effectifs mensuel moyen d'un établissement sur un mois et année donnée"
      description: "Renvoie l'effectif moyen de l'établissement sur un mois donnée. L'année est forcément 2020."
      parameters:
        - $ref: '#/components/parameters/Siret'
        - $ref: '#/components/parameters/Year'
        - $ref: '#/components/parameters/Month'
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Recipient'
        - $ref: '#/components/parameters/Object'
      responses:
        '200':
          x-operationId: 'api_entreprise_v2_effectifs_mensuels_etablissement_acoss_covid'
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  annee:
                    description: Année concernée
                    example: '2021'
                    type: string
                  effectifs_mensuels:
                    description: Effectifs mensuel déclarés
                    example: '118.31'
                    type: string
                  mois:
                    description: Mois concerné
                    example: '05'
                    type: string
                  siret:
                    example: '99999028600018'
                    type: string
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'

## &tag_financier

  /v2/exercices/{siret}:
    get:
      tags:
        - *tag_financier
      summary: "[DGFIP] Chiffres d'affaires"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-exercices'>Documentation métier</a>"
      parameters: &only_siret_parameters
        - $ref: '#/components/parameters/Siret'
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Recipient'
        - $ref: '#/components/parameters/Object'
      responses:
        '200':
          x-operationId: 'api_entreprise_v2_exercices'
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  exercices:
                    type: array
                    description: Les exercices renvoyés par la DGFIP sont listés les uns après les autres, le premier étant le plus récent. Le nombre d’exercices renvoyés varie de 1 à 3. Pour chaque exercice, deux informations sont transmises
                    items:
                      type: object
                      properties:
                        ca:
                          description: Chiffre d'affaires en euros.
                          example: '648374448'
                          type: string
                        date_fin_exercice:
                          description: Date de fin de l'exercice
                          example: '2016-12-31T00:00:00+01:00'
                          type: string
                          format: date-time
                        date_fin_exercice_timestamp:
                          description: Date de fin de l'exercice au format timestamp UNIX
                          example: 1483138800
                          type: integer
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'
  /v2/bilans_entreprises_bdf/{siren}:
    get:
      tags:
        - *tag_financier
      summary: "[BDF] 3 derniers bilans annuels"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-bilans_inpi'>Documentation métier</a>"
      parameters: *only_siren_parameters
      responses:
        '200':
          x-operationId: 'api_entreprise_v2_bilans_entreprises_bdf'
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  bilans:
                    type: array
                    description: "Les trois bilans de la Banque de France sont listés les uns après les autres, le premier étant le plus récent. La Banque de France renvoit également des données d'évolution par rapport à l'année précédente. Les calculs d'évolution sont calculés en comparant l'année N par rapport à l'année N-1. Ces montants ne sont fournis que si les liasses fiscales N et N-1 ont la même durée d'exercice. Les champs sont calculés par la Banque de France sur le mode suivant : (valeur à date N - valeur à date N-1) * 100 / valeur absolue (valeur à date N-1)."
                    items:
                      type: object
                      properties:
                        autres_fonds_propres:
                          description: Correspond à la case 'DO' de la liasse fiscale 2051.
                          example: '0'
                          type: string
                        besoin_en_fonds_de_roulement:
                          example: '-1656625'
                          type: string
                        capacite_autofinancement:
                          example: '3530749'
                          type: string
                        capital_social_inclus_dans_capitaux_propres_et_assimiles:
                          description: Correspond au capital social ou individuel de la case 'DA' de la liasse fiscale 2051, ce montant est inclu dans la somme précédente 'capitaux_propres_et_assimilés'.
                          example: '151427'
                          type: string
                        capitaux_propres_et_assimiles:
                          description: Correspond à la case 'DL' de la liasse fiscale 2051, soit le total des capitaux propres inscrits dans le passif.
                          example: '17394637'
                          type: string
                        chiffre_affaires_ht:
                          description: Correspond au chiffre d'affaire net total, France et exportations & livraisons intercommunautaires (case 'FL' de la liasse fiscale 2052).
                          example: '350741'
                          type: string
                        date_arret_exercice:
                          description: Date de la fin de l'exercice au format YYYYMM
                          example: '202012'
                          type: string
                        dettes1_emprunts_obligataires_et_convertibles:
                          description: Correspond à la case 'DS' de la liasse fiscale 2051.
                          example: '0'
                          type: string
                        dettes2_autres_emprunts_obligataires:
                          description: Correspond à la case 'DT' de la liasse fiscale 2051.
                          example: '14968965'
                          type: string
                        dettes3_emprunts_et_dettes_aupres_des_etablissements_de_credit:
                          description: Correspond à la case 'DU' de la liasse fiscale 2051.
                          example: '1301'
                          type: string
                        dettes4_maturite_a_un_an_au_plus:
                          description: Correspond à la somme des cases 'VG2' et 'VH2', soit les emprunts et dettes auprès des établissements de crédit à un an au plus par rapport à l'exercice.
                          example: '1301'
                          type: string
                        disponibilites:
                          example: '41160'
                          type: string
                        duree_exercice:
                          description: Durée de l'exercice (en mois) habituellement 12, mais peut-être différent notamment la première année de création de l'entreprise
                          example: '12'
                          type: string
                        emprunts_et_dettes_financieres_divers:
                          description: Correspond à la case 'DV' de la liasse fiscale 2051.
                          example: '6327539'
                          type: string
                        evolution_autres_fonds_propres:
                          example: ''
                          type: string
                        evolution_besoin_en_fonds_de_roulement:
                          example: ''
                          type: string
                        evolution_capacite_autofinancement:
                          example: ''
                          type: string
                        evolution_capital_social_inclus_dans_capitaux_propres_et_assimiles:
                          example: ''
                          type: string
                        evolution_capitaux_propres_et_assimiles:
                          example: ''
                          type: string
                        evolution_chiffre_affaires_ht:
                          example: ''
                          type: string
                        evolution_dettes1_emprunts_obligataires_et_convertibles:
                          example: ''
                          type: string
                        evolution_dettes2_autres_emprunts_obligataires:
                          example: ''
                          type: string
                        evolution_dettes3_emprunts_et_dettes_aupres_des_etablissements_de_credit:
                          example: ''
                          type: string
                        evolution_dettes4_maturite_a_un_an_au_plus:
                          example: ''
                          type: string
                        evolution_disponibilites:
                          example: ''
                          type: string
                        evolution_emprunts_et_dettes_financieres_divers:
                          example: ''
                          type: string
                        evolution_excedent_brut_exploitation:
                          example: ''
                          type: string
                        evolution_fonds_roulement_net_global:
                          example: ''
                          type: string
                        evolution_groupes_et_associes:
                          example: ''
                          type: string
                        evolution_ratio_fonds_roulement_net_global_sur_besoin_en_fonds_de_roulement:
                          example: ''
                          type: string
                        evolution_resultat_exercice:
                          example: ''
                          type: string
                        evolution_total_dettes_stables:
                          example: ''
                          type: string
                        evolution_total_passif:
                          example: ''
                          type: string
                        evolution_total_provisions_pour_risques_et_charges:
                          example: ''
                          type: string
                        evolution_valeur_ajoutee_bdf:
                          example: ''
                          type: string
                        excedent_brut_exploitation:
                          example: '-282148'
                          type: string
                        fonds_roulement_net_global:
                          example: '-1357111'
                          type: string
                        groupes_et_associes:
                          description: Correspond à l'état des dettes du groupe et des associés, case 'VI' de la liasse fiscale 2057.
                          example: '1540015'
                          type: string
                        ratio_fonds_roulement_net_global_sur_besoin_en_fonds_de_roulement:
                          example: '-'
                          type: string
                        resultat_exercice:
                          description: Correspond au "bénéfice ou perte" de l'entreprise, total des produits - total des charges (case 'HN' de la liasse fiscale 2053).
                          example: '3212682'
                          type: string
                        total_dettes_stables:
                          description: "Cette valeur est calculée par la Banque de France comme suit : 'dettes1_emprunts_obligataires_et_convertibles' + 'dettes2_autres_emprunts_obligataires' + 'dettes3_emprunts_et_dettes_aupres_des_etablissements_de_credit' - 'dettes4_maturite_a_un_an_au_plus'. Dans le cas ou un des termes du calcul ne serait pas renseigné, il est considéré comme ayant une valeur nulle pour le calcul."
                          example: '14968965'
                          type: string
                        total_passif:
                          description: Correspond à la somme totale du passif de l'entreprise, soit ses capitaux propres, ses fonds propres, ses provisions pour risques et ses charges, ainsi que ses dettes (case 'EE' de la liasse fiscale 2051).
                          example: '41692490'
                          type: string
                        total_provisions_pour_risques_et_charges:
                          description: Correspond à la case 'DR' de la liasse fiscale 2051.
                          example: '755947'
                          type: string
                        valeur_ajoutee_bdf:
                          example: '-118729'
                          type: string
                  monnaie:
                    example: kEuros
                    type: string
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'

  /v2/liasses_fiscales_dgfip/{annee}/declarations/{siren}:
    get:
      tags:
        - *tag_financier
      summary: "[DGFIP] Déclarations de résultat : liasses fiscales d'une entreprise pour une année donnée"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-liasses_fiscales_dgfip'>Documentation métier</a>"
      parameters: &siren_year_and_email_parameters
        - $ref: '#/components/parameters/Siren'
        - $ref: '#/components/parameters/Year'
        - $ref: '#/components/parameters/Email'
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Recipient'
        - $ref: '#/components/parameters/Object'
      responses:
        '200':
          x-operationId: 'api_entreprise_v2_liasses_fiscales_dgfip'
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  declarations: &declarations_liasse_fiscale
                    items:
                      properties:
                        code_regime:
                          example: NE
                          type: string
                        date_declaration:
                          example: '2014-04-25'
                          type: string
                          format: date-time
                        duree_exercice:
                          example: 365 jours
                          type: string
                        fin_exercice:
                          example: '2013-12-31'
                          type: string
                          format: date-time
                        imprime:
                          properties:
                            donnees:
                              properties:
                                code_nref:
                                  description: Ce code vous permet de chercher la signification de la valeur qui suit dans le dictionnaire.
                                  example: '300282'
                                  type: string
                                valeur:
                                  example: '157955912'
                                  type: string
                              type: object
                          type: object
                        millesime:
                          description: au format YYYYMM
                          example: '201401'
                          type: string
                        numero_imprime:
                          example: '2050'
                          type: string
                      type: object
                    type: array
                  entreprise: &entreprise_liasse_fiscale
                    type: object
                    properties:
                      denomination:
                        example: Ma Societe
                        type: string
                      itip:
                        example: '100000105873'
                        type: string
                      setOcfis:
                        properties:
                          ROF:
                            example: IS1
                            type: string
                          codeNace:
                            example: 4669B
                            type: string
                          codeObf:
                            example: IS
                            type: string
                          dateDebut:
                            example: '1991-04-15T00:00:00+02:00'
                            type: string
                            format: date-time
                          dateDebutPourAttestationRegularite:
                            example: '1991-04-15T00:00:00+02:00'
                            type: string
                            format: date-time
                          nbRof:
                            example: '0'
                            type: string
                          numOcfi:
                            example: '100210572749'
                            type: string
                          regime:
                            example: RSI
                            type: string
                          texteExploitation:
                            example: ACHAT VTE MACHINES OUTILS
                            type: string
                        type: object
                      siren:
                        example: XXXXXXXXX
                        type: string
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'

  /v2/liasses_fiscales_dgfip/{annee}/dictionnaire:
    get:
      tags:
        - *tag_financier
      summary: "[DGFIP] Déclarations de résultat : dictionnaire des liasses fiscales pour une année donnée"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-liasses_fiscales_dgfip'>Documentation métier</a>"
      parameters:
        - $ref: '#/components/parameters/Year'
        - $ref: '#/components/parameters/Email'
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Recipient'
        - $ref: '#/components/parameters/Object'
      responses:
        '200':
          x-operationId: 'api_entreprise_v2_liasses_fiscales_dictionaries_dgfip'
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  dictionnaire: &dictionnaire_liasse_fiscale
                    type: array
                    items:
                      type: object
                      properties:
                        millesimes:
                          properties:
                            declaration:
                              items:
                                properties:
                                  code:
                                    example: PG
                                    type: string
                                  code_EDI:
                                    example: 'PG:C889:7111:1:TBX'
                                    type: string
                                  code_absolu:
                                    example: '2006747'
                                    type: string
                                  code_nref:
                                    example: '3305687'
                                    type: string
                                  intitule:
                                    example: Mention déclaration néante
                                    type: string
                                type: object
                              type: array
                            millesime:
                              example: '201501'
                              type: string
                            statut_version:
                              example: V
                              type: string
                          type: object
                        numero_imprime:
                          example: '2053'
                          type: string
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'

  /v2/liasses_fiscales_dgfip/{annee}/complete/{siren}:
    get:
      tags:
        - *tag_financier
      summary: "[DGFIP] Déclarations de résultat : liasses fiscales d'une entreprise et dictionnaire pour une année donnée"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-liasses_fiscales_dgfip'>Documentation métier</a>"
      parameters: *siren_year_and_email_parameters
      responses:
        '200':
          x-operationId: 'api_entreprise_v2_liasses_fiscales_complete_dgfip'
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  dictionnaire: *dictionnaire_liasse_fiscale
                  declarations: *declarations_liasse_fiscale
                  entreprise: *entreprise_liasse_fiscale
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'

## &tag_attestations

  /v2/attestations_fiscales_dgfip/{siren}:
    get:
      tags:
        - *tag_attestations
      summary: "[DGFIP] Attestation fiscale"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-attestations_fiscales_dgfip'>Documentation métier</a>"
      parameters:
        - $ref: '#/components/parameters/Siren'
        - in: query
          name: siren_is
          description: "Si l'entreprise appartient à un groupe IS: renseignez avec le siren de cette entreprise"
          schema:
            type: string
          allowEmptyValue: true
        - in: query
          name: siren_tva
          description: "Si l'entreprise appartient à un groupe TVA: renseignez avec le siren de cette entreprise"
          schema:
            type: string
          allowEmptyValue: true
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Recipient'
        - $ref: '#/components/parameters/Object'
      responses:
        '200':
          x-operationId: 'api_entreprise_v2_attestations_fiscales_dgfip'
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    example: https://storage.entreprise.api.gouv.fr/siade/1569156756-f6b7779f99fa95cd60dc03c04fcb-attestation_fiscale_dgfip.pdf
                    type: string
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'

  /v2/attestations_sociales_acoss/{siren}:
    get:
      tags:
        - *tag_attestations
      summary: "[ACOSS] Attestation de vigilance"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-attestations_sociales_acoss'>Documentation métier</a>"
      parameters: *only_siren_parameters
      responses:
        '200':
          x-operationId: 'api_entreprise_v2_attestations_sociales_acoss'
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    example: https://storage.entreprise.api.gouv.fr/siade/1569156881-f749d75e2bfd443316e2e02d59015f-attestation_vigilance_acoss.pdf
                    type: string
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'

  /v2/eligibilites_cotisation_retraite_probtp/{siret}:
    get:
      tags:
        - *tag_attestations
      summary: "[PROBTP] Cotisations retraite bâtiment : savoir si un établissement est à jour dans ses cotisations"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-attestations_cotisation_retraite_probtp'>Documentation métier</a>"
      parameters: *only_siret_parameters
      responses:
        '200':
          x-operationId: 'api_entreprise_v2_eligibilites_cotisation_retraite_probtp'
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  eligible:
                    description: Indique si l'entreprise est à jour de ses cotisations
                    example: true
                    type: boolean
                  message:
                    description: Message contenant les détails du statut de l'entreprise
                    example: 00 Compte éligible pour attestation de cotisation
                    type: string
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'

  /v2/attestations_cotisation_retraite_probtp/{siret}:
    get:
      tags:
        - *tag_attestations
      summary: "[PROBTP] Cotisations retraite bâtiment : attestation d'un établissement"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-attestations_cotisation_retraite_probtp'>Documentation métier</a>"
      parameters: *only_siret_parameters
      responses:
        '200':
          x-operationId: 'api_entreprise_v2_attestations_cotisation_retraite_probtp'
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    example: https://storage.entreprise.api.gouv.fr/siade/1635516288-8e9c23ab59b318ea6f24e09576d63d8ff1ce1e60-attestation_cotisation_retraite_probtp.pdf
                    type: string
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'

  /v2/cartes_professionnelles_fntp/{siren}:
    get:
      tags:
        - *tag_attestations
      summary: "[FNTP] Carte professionnelle travaux publics"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-cartes_professionnelles_fntp'>Documentation métier</a>"
      parameters: *only_siren_parameters
      responses:
        '200':
          x-operationId: 'api_entreprise_v2_cartes_professionnelles_fntp'
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    example: https://storage.entreprise.api.gouv.fr/siade/1635516790-75bdb1fa7bed7d5203a439687297b4bc4dbed20c-carte_professionnelle_fntp.pdf
                    type: string
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'

  /v2/certificats_cnetp/{siren}:
    get:
      tags:
        - *tag_attestations
      summary: "[CNETP] Cotisations congés payés & chômage intempéries"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-certificats_cnetp'>Documentation métier</a>"
      parameters: *only_siren_parameters
      responses:
        '200':
          x-operationId: 'api_entreprise_v2_certificats_cnetp'
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    example: https://storage.entreprise.api.gouv.fr/siade/1635517227-f16b71efc720f78b09ede88778efa9983bd87267-certificat_cnetp.pdf
                    type: string
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'

# &tag_certificats_professionelles

  /v2/certificats_rge_ademe/{siret}:
    get:
      tags:
        - *tag_certificats_professionelles
      summary: "[ADEME] Certification RGE"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-certificats_rge_ademe'>Documentation métier</a>"
      parameters:
        - in: path
          name: siret
          description: "Siret de l'établissement"
          required: true
          schema:
            type: string
            pattern: '^\d{14}$'
          examples:
            siret_ademe:
              value: "40357391800048"
              summary: SIRET pour l'ADEME
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Recipient'
        - $ref: '#/components/parameters/Object'
        - in: query
          name: skip_pdf
          required: false
          description: "Permet d'exclure la génération des fichiers PDFs (ce qui accélère le temps de réponse)"
          schema:
            type: boolean
          example: true
      responses:
        '200':
          x-operationId: 'api_entreprise_v2_certificats_rge_ademe'
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  domaines:
                    type: array
                    items:
                      example: Poêle ou insert bois
                      type: string
                  qualifications:
                    type: array
                    items:
                      type: object
                      properties:
                        nom:
                          example: Efficacité énergétique - "Les pros de la performance énergétique®" - Énergie renouvelables
                          type: string
                        nom_certificat:
                          example: QUALIBAT-RGE
                          type: string
                        url_certificat:
                          description: Peut être null si `skip_pdf` est mis à `true`
                          example: "https://storage.entreprise.api.gouv.fr/siade/1635517972-3004d2e9fc009075af829cdb2f03f0f1ed9d39ef-certificat_rge_ademe.pdf"
                          type: string
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'
  /v2/certificats_qualibat/{siret}:
    get:
      tags:
        - *tag_certificats_professionelles
      summary: "[QUALIBAT] Certificat de qualification bâtiment"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-certificats_qualibat'>Documentation métier</a>"
      parameters: *only_siret_parameters
      responses:
        '200':
          x-operationId: 'api_entreprise_v2_certificats_qualibat'
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    example: https://storage.entreprise.api.gouv.fr/siade/1635521735-1a675fc210d09e04604aabe5e93b452fb56865f5-certificat_qualibat.pdf
                    type: string
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'

  /v2/certificats_opqibi/{siren}:
    get:
      tags:
        - *tag_certificats_professionelles
      summary: "[OPQIBI] Certification de qualification d'ingénierie"
      description: "<a href='https://entreprise.api.gouv.fr/catalogue/#a-certificats_opqibi'>Documentation métier</a>"
      parameters: *only_siren_parameters
      responses:
        '200':
          x-operationId: 'api_entreprise_v2_certificats_opqibi'
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  assurance:
                    example: AXA FRANCE IARD
                    type: string
                  date_de_delivrance_du_certificat:
                    example: 01/12/2020
                    type: string
                  date_de_validite_des_qualifications:
                    description: La date de validité des qualifications est toujours précisée en fin de liste.
                    example: 01/12/2023
                    type: string
                  date_de_validite_des_qualifications_probatoires:
                    example: 01/12/2021
                    type: string
                  duree_de_validite_du_certificat:
                    example: valable un an
                    type: string
                  numero_certificat:
                    example: "20 12 4102"
                    type: string
                  qualifications:
                    type: array
                    description: La liste suivante énumère les qualifications de l'entreprise.
                    items:
                      type: object
                      properties:
                        code_qualification:
                          description: Chaque qualification est identifiée par un code à 4 chiffres.
                          example: '1911'
                          type: string
                        definition:
                          example: "Réalisation d'un audit énergétique [...]"
                          type: string
                        nom:
                          example: Audit énergétique "maisons individuelles"
                          type: string
                        rge:
                          description: Ce champ indique si la qualification est RGE, c'est à dire “Reconnu Garant de l’Environnement”.
                          example: '1'
                          type: string
                  qualifications_probatoires:
                    description:  Cette liste se compose de la même façon mais énumère les qualifications probatoires de l'entreprise.
                    items:
                      properties:
                        code_qualification:
                          description: Chaque qualification est identifiée par un code à 4 chiffres.
                          example: '1911'
                          type: string
                        definition:
                          example: "Réalisation d'un audit énergétique [...]"
                          type: string
                        nom:
                          example: Audit énergétique "maisons individuelles"
                          type: string
                        rge:
                          description: Ce champ indique si la qualification est RGE, c'est à dire “Reconnu Garant de l’Environnement”.
                          example: '1'
                          type: string
                      type: object
                    type: array
                  siren:
                    example: '515228211'
                    type: string
                  url:
                    example: 'https://www.opqibi.com/fiche/4387'
                    type: string
        '206':
          $ref: '#/components/responses/Incomplete'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/NotFound'
        '451':
          $ref: '#/components/responses/LegalyUnavailable'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnvailable'
        '504':
          $ref: '#/components/responses/ProviderTimeout'

# &tag_api_complementaires

  /v2/privileges/:
    get:
      tags:
        - *tag_api_complementaires
      summary: "[API Entreprise] Connaître les droits liés à un token"
      description: "<a href='https://entreprise.api.gouv.fr/doc/#api-privileges'>Documentation générale</a>"
      responses: &default_responses
        '200':
          description: OK
          content:
            application/json: {}

  /watchdoge/dashboard/current_status/:
    get:
      tags:
        - *tag_api_complementaires
      summary: "[API Entreprise] Connaître la disponibilité des API en temps réel"
      description: "Cette API est ouverte et ne nécessite pas de token. <a href='https://entreprise.api.gouv.fr/doc/#api-current-status'>Documentation générale</a>"
      responses: *default_responses

  /watchdoge/stats/provider_availabilities/:
    get:
      tags:
        - *tag_api_complementaires
      summary: "[API Entreprise] Connaître l'historique de disponibilité des API"
      description: "Cette API est ouverte et ne nécessite pas de token. <a href='https://entreprise.api.gouv.fr/doc/#api-disponibilites'>Documentation générale</a>"
      parameters:
        - in: query
          name: period
          required: true
          description: "L'intervale de temps sur lequel renvoyer la disponibilité"
          schema:
            type: string
          example: '15m'
        - in: query
          name: endpoint
          required: true
          description: "API pour laquelle la disponibilité est demandée"
          schema:
            type: string
          example: 'api/v3/entreprises_restored'
      responses: *default_responses

components:
  parameters:
    Context:
      in: query
      name: context
      required: true
      description: "Le cadre dans lequel l'appel est réalisé"
      schema:
        type: string
      example: "Test de l'API"

    Recipient:
      in: query
      name: recipient
      required: true
      schema:
        type: string
      description: "Bénéficiaire de l'appel"
      example: "SIRET du bénéficiaire de l'appel"

    Object:
      in: query
      name: object
      required: true
      schema:
        type: string
      description: "Pourquoi l'appel est réalisé ou identifiant de dossier ou procédure"
      example: "Test API"

    Siren:
      in: path
      name: siren
      description: "Siren de l'entreprise"
      required: true
      schema:
        type: string
        pattern: '^\d{9}$'
      examples:
        siren_octo_technology:
          value: "418166096"
          summary: SIREN Octo Technology
        siren_non_diffusible:
          value: "005572466"
          summary: SIREN entreprise non diffusible
        siren_artisant:
          value: "301123626"
          summary: SIREN entreprise artisanale
        siren_fntp:
          value: "339379984"
          summary: SIREN pour FNTP
        siren_cnetp:
          value: "542036207"
          summary: SIREN pour CNETP
        siren_opqibi:
          value: "515228211"
          summary: SIREN pour OPQIBI

    Siret:
      in: path
      name: siret
      description: "Siret de l'établissement"
      required: true
      schema:
        type: string
        pattern: '^\d{14}$'
      examples:
        siret_octo_technology:
          value: "41816609600069"
          summary: SIRET Octo Technology
        siret_non_diffusible:
          value: "00557246600026"
          summary: SIRET établissement non diffusible
        siret_probtp:
          value: "43841606700017"
          summary: SIRET pour ProBTP
        siret_qualibat:
          value: "78824266700020"
          summary: SIRET pour Qualibat

    AssociationId:
      in: path
      name: association_id
      description: "Siret de l'association ou le numéro RNA"
      required: true
      schema:
        type: string
      examples:
        openstreetmap_france:
          value: W751212517
          summary: ID RNA Openstreetmap France
        croix_rouge:
          value: "77567227221138"
          summary: SIRET de la Croix-Rouge France

    SiretOrEORI:
      in: path
      name: siret_or_eori
      description: "Siret ou numéro EORI de l'entreprise"
      required: true
      schema:
        type: string
      examples:
        french_siret:
          value: '16002307300010'
          summary: 'Siret français'
        french_eori:
          value: 'FR16002307300010'
          summary: 'Numéro EORI français'
        spanish_eori:
          value: 'ESA08536583'
          summary: 'Numéro EORI espagnol'

    NotDiffusable:
      in: query
      name: non_diffusables
      description: "Inclure les entreprises non diffusables"
      schema:
        type: boolean
        default: false
      required: false
      allowEmptyValue: true

    Month:
      in: path
      name: mois
      description: "Mois (MM)"
      schema:
        type: string
        pattern: '^\d{2}$'
      required: true

    Year:
      in: path
      name: annee
      description: "Année (YYYY)"
      schema:
        type: string
        pattern: '^\d{4}$'
      required: true

    Email:
      in: query
      name: email
      description: "Email de l'utilisateur faisant la demande"
      schema:
        type: string
      required: false
      allowEmptyValue: true

  responses:
    Incomplete:
      description: "Réponse incomplete - Un des fournisseurs de données a renvoyé une erreur, la réponse est incomplète (les valeurs concernées contiennent le message par défaut: Donnée indisponible)"
      content:
        application/json: {}

    BadRequest:
      description: "Mauvaise requête"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            - code: '400'
            - message: "Le format de la requête est incorrecte"

    Unauthorized:
      description: "Non authorisé"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            - code: '401'
            - message: "Token invalide ou manquant"

    Forbidden:
      description: "Interdit"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            - code: '403'
            - message: "Votre jeton ne vous donne pas accès à cette ressource"

    NotFound:
      description: "Non trouvé"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            - code: '404'
            - message: "La ressource demandée n'a pas été trouvée"

    UnprocessableEntity:
      description: "Entité non traitable"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            - code: '422'
            - message: "Le format de la donnée passée en paramètre n'est pas accepté"

    LegalyUnavailable:
      description: "Indisponible pour des raisons légales"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            - code: '451'
            - message: "Une entreprise est non diffusée par l'INSEE"

    InternalError:
      description: "Erreur interne"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            - code: '500'
            - message: "Une erreur interne est survenue"

    BadGateway:
      description: "Passerelle incorrecte"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            - code: '502'
            - message: "Mauvaise réponse envoyée par le fournisseur de données"

    ServiceUnvailable:
[...]
