---
http_interactions:
- request:
    method: get
    uri: "<URL_MI>/apim/api-asso-partenaires/api/structure/41763950700017?proxy_only=true"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gravitee-Api-Key:
      - "<MI_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id_correspondance":123,"identite":{"id_correspondance":123,"id_rna":"W417639507"},"documents":{"nbDocRna":1,"document_rna":[{"id":"doc-1","type":"PIECE","annee":2014,"sous_type":"STC","time":1418807674,"url":"https://much.url/doc_1","lib_sous_type":"Statuts"}]}}'
  recorded_at: Thu, 09 Jul 2026 00:00:00 GMT
recorded_with: VCR 6.1.0
