#cas-usages {
  .banner {
    background-color: var(--custom-lightest-blue);
  }

  .simplifions-card {
    .fr-card__title a::after {
      display: none !important;
    }

    .fr-card__end {
      flex: 1;
    }
  }

  .simplifions-card__external-icon {
    display: block;
    text-align: right;
    margin-top: auto;
    color: var(--text-action-high-blue-france);
  }

  .fr-card {
    p {
      margin-bottom: 0;
    }

    .card-image {
      width: 120px;
      height: 120px;
    }

    &__img {
      display: flex;
      justify-content: center;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    &__header {
      background-color: var(--custom-lighter-blue);
    }
  }
}
