#cas-usages {
  .banner {
    background-color: var(--custom-lightest-blue);
  }

  .simplifions-card {
    .fr-card__title a {
      color: var(--text-action-high-blue-france);
    }

    .fr-card__title [target=_blank]::after {
      content: none;
    }

    &::before {
      -webkit-mask-image: url("icons/system/external-link-line.svg");
      mask-image: url("icons/system/external-link-line.svg");
    }

    .fr-card__end {
      flex: 1;
    }
  }

  .fr-card {
    p {
      margin-bottom: 0;
    }

    .card-image {
      width: 120px;
      height: 120px;
    }

    &__img {
      display: flex;
      justify-content: center;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    &__header {
      background-color: var(--custom-lighter-blue);
    }
  }
}
