---
openapi: 3.0.1
info:
  title: API Entreprise
  version: v3
paths:
  "/v3/rnm/entreprises/{siren}":
    get:
      summary: Récupération des informations d'une entreprise artisanale
      tags:
      - Informations générales
      parameters:
      - name: context
        in: query
        schema:
          type: string
      - name: recipient
        in: query
        schema:
          type: string
      - name: object
        in: query
        schema:
          type: string
      - name: siren
        in: path
        required: true
        schema:
          type: string
      security:
      - jwt_bearer_token: []
      description: Le jeton ne possède pas les droits nécessaires
      responses:
        '403':
          description: Accès interdit
        '200':
          description: Entreprise found
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '301123626'
                      attributes:
                        type: object
                        properties:
                          siren:
                            type: siren
                            example: '301123626'
                        required:
                        - siren
                    required:
                    - id
                required:
                - data
servers:
- url: https://entreprise.api.gouv.fr
  description: Environnement de productoin
- url: https://staging.entreprise.api.gouv.fr
  description: Environnement de staging
components:
  securitySchemes:
    jwt_bearer_token:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT Token
